.editInput {
  flex: 1 1 auto;
  width: 300px;
  i {
    margin-left: 4px;
  }
  .noInput {
    .noTnputText {
      font-style: normal;
      display: inline-block;
      max-width: 280px;
      min-width: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }
  }
  .hasInput {
    input {
      width: 220px;
    }
  }
}
