.task_from {
  font-size: 14px;
  padding: 20px 0;
  .task_selectList {
    overflow: hidden;
    li {
      position: relative;
      float: left;
      width: 33%;
      .task_label {
        vertical-align: middle;
        line-height: 32px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        padding-right: 5px;
        font-size: 14px;
        color: #666;
        width: 80px;
        text-align: left;
      }
      .required_i {
        color: #f00;
        font-style: normal;
      }
      :global {
        .ant-form-item-label {
          label {
            font-size: 14px;
            color: #666;
          }
        }
        .ant-select-selection {
          border: 1px solid #d9d9d9;
          &:hover {
            border-color: #49a9ee;
          }
          &:active, &:focus {
            border-color: #49a9ee;
            outline: 0;
            box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
          }
        }
        .has-error .ant-form-explain, .has-error .ant-form-split {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .task_textArea {
    p {
      padding: 5px 0;
      label {
        font-size: 14px;
        color: #666;
        i {
          font-style: normal;
          color: #f00;
        }
      }
    }
    .info {
      color: #ff784e;
      font-size: 14px;
    }
  }
  .hideTextArea {
    display: none;
  }
  .showTextArea {
    display: block;
  }
  .task_btn {
    text-align: right;
    button {
      margin-left: 15px;
    }
  }
}
