.radarBox{
  padding:10px;
  .radar{
    width: 100%;
    padding:10px 10px 10px;
  }
  .radarInfo{
    padding:15px 0 0 13%;
    i{
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #108ee9;
      margin: 0 25px 0 0;
    }
    span{
      font-size: 15px;
    }
    .now{
      color:#ff7a39;
      padding:0 15px 0 5px;
    }
    .before{
      color:#3983ff;
      padding:0 15px 0 5px;
    }
    .all{
      color:#777777;
    }
  }
}
.titleDv {
  padding-left: 12px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}