.yieldChartBox {
  h3 {
    padding-left: 10px;
    font-size: 14px;
    color: #4a4a4a;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
  }
  .tabBox {
    padding: 6px 0;
    :global {
      .ant-tabs-bar {
        margin: 0;
        border-bottom: none;
      }
      .ant-tabs-ink-bar-animated {
        height: 0;
      }
      .ant-tabs-tab {
        margin: 0 0 0 10px;
        padding: 0;
        font-size: 12px;
      }
    }
  }
  .chartWrapper {
    height: 166px;
  }
}
