.combinationAdjustHistoryBox {
  float: left;
  width: 430px;
  height: 404px;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 2px 1px 5px #bdbcbc;
  dl {
    position: relative;
    height: 154px;
    dt {
      float: left;
      width: 76px;
      text-align: center;
      i {
        display: block;
        margin: 0 auto;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        line-height: 36px;
        color: #fff;
        font-size: 18px;
        font-style: normal;
        background-color: #756fb8;
      }
      span {
        font-size: 12px;
        color: #4a4a4a;
      }
    }
    dd {
      margin: 0 0 11px 76px;
      .titleBox {
        font-size: 0;
        .securityName {
          color: #2782d7;
          display: inline-block;
          width: 160px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
        }
        .combinationName {
          float: right;
          font-size: 14px;
        }
      }
      .timeBox {
        font-size: 12px;
        span {
          color: #9b9b9b;
        }
        a {
          float: right;
        }
      }
      p {
        font-size: 12px;
        color: #828282;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .adjustIn {
    height: 176px;
    margin: -5px 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e9e9e9;
    dt {
      i {
        background-color: #f48a8a;
      }
    }
    .more {
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
}
.more {
  position: absolute;
  bottom: -11px;
  right: 0;
  text-align: right;
  color: #2782d7;
  font-size: 12px;
}
