.modal {
  :global {
    .ant-modal {
      width: 1060px !important;
      .ant-modal-header, .ant-modal-footer {
        background: #f7f7f7;
      }
      .ant-modal-title {
        color: #333;
        font-size: 18px;
        font-weight: bold;
      }
      .ant-btn {
        width: 80px;
        padding: 0;
      }
    }
  }
}
