.weeklySecurityTopTenBox {
  .weeklySecurityTopTenContainer {
    padding-left: 14px;
    :global {
      .ant-table {
        .ant-table-thead {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
          color: #4a4a4a;
          border-bottom: 1px solid #ccc;
          tr th {
            background: #fff;
            border-bottom: 2px solid #ccc;
          }
        }
        tr th, tr td {
          padding: 0;
        }
        .ant-table-tbody {
          tr {
            background: #fff;
            position: relative;
            td {
              border-bottom: 0;
              padding: 10px 0 22px;
            }
            &:nth-child(even) {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    .securityName, .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .securityName {
      width: 128px;
    }
    .name {
      width: 120px;
    }
    .customerLink {
      margin-right: 6px;
    }
    .reason {
      width: 84%;
      position: absolute;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .customerLink {
      i {
        color: #7d9be0;
      }
    }
    .up {
      color: #e33c39;
    }
    .down {
      color: #499d37;
    }
    // ul {
    //   padding-top: 8px;
    //   height: 276px;
    //   box-sizing: border-box;
    //   overflow: auto;
    //   li {
    //     margin-bottom: 4px;
    //     height: 50px;
    //     font-size: 12px;
    //     .summary {
    //       line-height: 23px;
    //       span, a {
    //         float: left;
    //         white-space: nowrap;
    //         overflow: hidden;
    //         text-overflow: ellipsis;
    //       }
    //       i {
    //         font-style: normal;
    //       }
    //       .securityName {
    //         margin-right: 4px;
    //       }
    //       .client {
    //         text-align: right;
    //       }
    //       .up {
    //         color: #e33c39;
    //       }
    //       .down {
    //         color: #499d37;
    //       }
    //     }
    //     .reason {
    //       width: 470px;
    //       line-height: 22px;
    //       color: #828282;
    //       white-space: nowrap;
    //       overflow: hidden;
    //       text-overflow: ellipsis;
    //     }
    //     &:nth-child(even) {
    //       background-color: #f2f2f2;
    //     }
    //   }
    // }
  }
}

@media screen and (min-width: 1400px) {
  .securityName {
    width: 188px !important;
  }
  .name {
    width: 170px !important;
  }
}
