/*
 * @Author: zhufeiyang
 * @Date: 2018-11-19 11:11:19
 * @Last Modified by: zhufeiyang
 * @Last Modified time: 2018-11-22 16:14:50
 * @description 新版360服务记录-服务内容-服务记录条目
 */

.serviceInner {
  padding: 20px 20px 40px;
  .serviceLog {
    position: relative;
  }
  .servicecontent {
    padding: 20px;
    background: #fff;
    border: 1px solid #dfe4eb;
    border-radius: 2px;
    .service_title {
      font-size: 18px;
      font-weight: bold;
      color: #33393c;
      border-bottom: 1px solid #ddd;
      padding: 5px 0 10px;
    }
    .service_from {
      font-size: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .serviceSource {
        margin-right: 10px;
      }
      .serviceTime {
        margin-left: 10px;
      }
      .serviceType {
        margin-right: 10px;
      }
      .searchInput {
        margin-right: 10px;
        :global {
          .ant-input-suffix {
            line-height: 14px;
            .anticon {
              font-size: 14px;
            }
            button {
              background-color: transparent;
              border-color: transparent;
              color: #c2c2c2;
            }
          }
          .ant-input-search.ant-input-affix-wrapper {
            input {
              height: 30px;
              background: #fff;
              border: 1px solid #ddd;
              border-radius: 3px;
            }
            // placeholder
            ::-webkit-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            ::-moz-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            :-moz-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            :-ms-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
          }
        }
      }
    }
    .listFooter {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      line-height: 38px;
      height: 38px;
      color: #108ee9;
      .btn {
        cursor: pointer;
        .btnContent {
          font-size: 14px;
          padding-right: 6px;
        }
        .icon {
          font-size: 12px;
        }
      }
      .lastServiceLog {
        color: #c2c2c2;
        .divider {
          display: inline-block;
          height: 1px;
          width: 80px;
          background: #ccc;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
      .hidden {
        display: none;
      }
      &.hidden {
        display: none;
      }
    }
  }
}
