.otherCommissionsWrap {
  padding: 20px 0;
  .line {
    height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    .column {
      display: inline-block;
      width: 25%;
      .hint {
        display: inline-block;
        width: 115px;
        text-align: right;
        color: #999;
        white-space: nowrap;
      }
    }
  }
}
