.productOrderDetailWrap {
  :global {
    .ant-modal {
      width: 1090px !important;
      height: 622px !important;
      .ant-modal-content {
        .ant-modal-close {
          top: 5px;
        }
        .ant-modal-header {
          height: 50px;
          background: #fff;
          padding: 0 20px;
          .ant-modal-title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            line-height: 50px;
          }
        }
        .ant-modal-footer {
          height: 70px;
          background: #fff;
          border-top: unset;
          padding-bottom: 30px;
          padding-right: 30px;
          .ant-btn {
            width: 80px;
            height: 30px;
          }
        }
      }
    }
  }

  .serviceOrderDetailWrap {
    padding: 20px 30px;
    .detailInfo {
      font-size: 14px;
    }
  }
}
