.productOrderFlowWrap {
  padding: 19px;

  .header {
    height: 25px;
    margin-bottom: 16px;
    .filterItem {
      padding-bottom: 16px;
      font-size: 14px;
      color: #333;
      float: left;
      margin-right: 30px;
    }
  }

  .body {
    .table {
      :global {
        .ant-table-thead > tr > th {
          white-space: nowrap;
          font-size: 14px;
          color: #666;
          font-weight: bold;
          padding-bottom: 0;
          padding-top: 0;
        }
        .ant-table-tbody > tr > th {
          padding: 0;
          font-size: 14px;
          color: #333;
        }
        .orderNumber {
          padding-left: 20px;
        }
      }
      .tableRow {
        height: 38px;
        white-space: nowrap;
      }
    }
  }
}
