.productListWrap {
  height: 100%;
  overflow: scroll;
  .table {
    :global {
      .ant-table-thead > tr > th {
        white-space: nowrap;
        font-size: 14px;
        color: #666;
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 0;
      }
      .ant-table-tbody > tr > th {
        padding: 0;
        font-size: 14px;
        color: #333;
      }
      .productCode {
        padding-left: 20px;
      }
    }
  }
}
