.tradeOrderFlowWrap {
  padding: 19px;
  .table {
    :global {
      .ant-table table {
        table-layout: fixed;
      }
      .ant-table-thead > tr > th {
        white-space: nowrap;
        font-size: 14px;
        color: #666;
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 0;
      }

      .ant-table-tbody > tr > td {
        font-size: 14px;
        color: #333;
        padding-right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .productCode {
        padding-left: 20px;
      }
    }
    .tableRow {
      height: 38px;
    }
  }
}
