.reportHead {
  padding: 14px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
  .reportHeadTitle {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    display: block;
    color: #333;
    font-weight: bold;
  }
}
