.itemBox {
  padding-left: 10px;
  .title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    :global {
      .ant-checkbox-wrapper {
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .titleArea {
      display: flex;

      .typeLabel {
        flex: 0 0 auto;
        margin-top: -2px;
        margin-left: 4px;
        font-size: 15px;
        color: #f9a825;
      }

      .titleText {
        flex: 0 0 auto;
        vertical-align: middle;
        color: #333;
        font-size: 15px;
      }
    }
  }
  .labelText {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    i {
      font-style: normal;
      color: #ff0101;
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 10px;
      vertical-align: top;
    }
    .ant-select {
      margin-right: 15px;
      width: 155px;
    }
  }
  .motVisitBox {
    :global {
      .ant-input {
        width: 400px;
        height: 60px;
       }
    }
  }
  .formItem {
    .label {
      float: left;
      width: 77px;
      text-align: right;
      line-height: 30px;
      height: 30px;
      color: #999;
      font-size: 14px;
    }
    .upload {
      float: left;
      max-width: 390px;
      .uploadComponent {
        position: relative;
        top: -2px;
      }
    }
  }
  :global {
    .ant-form-item-label {
      width: 80px;
      vertical-align: top;
    }
    .ant-form-item-control-wrapper {
      display: inline-block;
    }
  }
  .hide {
    display: none;
  }
  .hackUpload {
    margin-left: 10px;
    color: #999;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    i {
      margin-right: 2px;
      font-size: 14px;
    }
  }
}
.feedbackDatePicker {
  width: 155px;
}
.secondSelectBox {
  display: inline-block;
}
