.modalBox {
  padding: 0 15px;
  .title {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 45px;
    span {
      color: #fd6d08;
    }
  }
}
.buttonBox {
  .tips {
    margin-right: 15px;
    color: #000;
    em {
      font-style: normal;
      color: red;
    }
  }
}
