.container {
  padding: 10px 0;
  border-top: 1px solid #4786f7;
  .row {
    margin: 0 20px;
    font-size: 16px;
    color: #108ee9;
    .col {
      width: 50%;
    }
    .item {
      padding: 4px 0;
      line-height: 1;
      margin: 0;
    }
    .highWorth, .riskLevel, .sign {
      display: inline-block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: #693188;
      border-radius: 1px;
      margin-right: 4px;
    }
    .riskLevel {
      background: #b860a2;
    }
    .sign {
      background: #8966aa;
    }
    .rank {
      margin-right: 4px;
      height: 18px;
    }
  }
}
