.container {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #aaa;
  background: #fff;
  box-shadow: 0 1px 4px 0 #ddd;
  .row {
    margin: 0 20px;
    font-size: 16px;
    color: #108ee9;
    display: flex;
    align-items: flex-start;
    .col {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      &:first-child {
        justify-content: flex-start;
      }
    }
    .item {
      display: flex;
      align-items: center;
      padding: 4px 0;
      margin: 0;
      &.textRight {
        text-align: right;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
    .name {
      display: inline-block;
      max-width: 225px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.unclickable {
        cursor: default;
        color: #4a4a4a;
      }
    }
    .highWorth, .riskLevel, .sign {
      display: inline-block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: #693188;
      border-radius: 1px;
      margin-right: 4px;
    }
    .riskLevel {
      background: #b860a2;
    }
    .sign {
      background: #8966aa;
    }
    .rank {
      margin-right: 4px;
      height: 18px;
    }
    .basicInfo {
      font-size: 14px;
      color: #4a4a4a;
    }
    .contact {
      display: inline-block;
      padding: 0 6px;
      height: 24px;
      line-height: 21px;
      font-size: 13px;
      border: 1px solid #108ee9;
      border-radius: 3px;
      background: #fff;
      text-align: center;
      cursor: pointer;
      .icon {
        font-size: 13px;
        margin-right: 4px;
      }
    }
  }
}
.clickable {
  cursor: pointer;
}
