.container {
  padding: 10px 10px 0;
  .inner {
    background: #fff;
    padding: 12px 20px;
    padding-right: 5px;
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
      color: #000;
      background-color: #fff;
    }
    .content {
      font-size: 14px;
      color: #4a4a4a;
      :global {
        .ant-table {
          border: none;
          .ant-table-thead {
            font-size:14px;
            color:#666;
            tr {
              th {
                padding: 8px 25px 8px 0;
                background-color: #fff;
                border-color: #cdcdcd;
              }
            }
          }
          .ant-table-tbody {
            font-size: 14px;
            color: #333;
            tr {
              td {
                padding: 8px 25px 8px 0;
                border-color: #eaeaea;
              }
            }
          }
        }
      }
    }
  }
}
.endTime {
  display: block;
  font-size:12px;
  color:#999;
}
.textOverflow {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hide {
  display: none;
}
