.customerDetail {
  padding: 10px 10px 0;
  .container {
    background: #fff;
    padding: 12px 20px;
    .item {
      display: inline-flex;
      padding-right: 20px;
      margin: 4px 0;
      .itemLabel {
        width: 105px;
        padding-right: 10px;
        text-align: right;
        font-size: 14px;
        color: #aaa;
        p {
          margin: 0;
        }
      }
      .itemContent {
        width: 176px;
        font-size: 14px;
        color: #333;
      }
      .wordTips {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .row {
      .itemContent {
        width: 80%;
      }
      .moreButton {
        float: right;
        font-size: 12px;
        color: #108ee9;
        cursor: pointer;
      }
    }
  }
}
.nameTips {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(153, 153, 153, 0.50);
  border-radius: 3px;
  padding: 10px;
  min-width: 100px;
  .callName {
    font-size: 14px;
    font-weight: bold;
  }
  h6 {
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
    margin: 0;
  }
  span.noPerfectRate {
    color: #f48a8a;
   }
  span.perfectRate {
    color: #01723e;
  }
}
