.header {
  margin: 0 20px;
  border-bottom: 1px solid #ddd;
  .filter {
    padding: 5px;
    display: inline-block;
  }
  .customerFilterContent {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    transform: translateY(-1px);
    .customerFilterValue {
      display: inline-block;
      vertical-align: top;
      margin-left: 9px;
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .preciseQuery {
    float: right;
  }
}
