.preciseQueryBox {
  float: right;
  padding: 11px 0 11px 10px;
  height: 18px;
  line-height: 18px;
  color: #4a4a4a;
  vertical-align: top;
  box-sizing: content-box;
  :global {
    .ant-input {
      width: 36px;
      height: 18px;
      line-height: 18px;
      font-size: 12px;
      padding: 0;
      text-align: center;
    }
  }
}
