.serviceImplementation {
  background: #fff;
  .listSwiperBox {
    background-color: #fff;
    padding: 0 20px;
  }
  .listSwiper {
    position: relative;
  }
  .taskDetail {
    background: #f9f9f9;
  }
}
