.container {
  padding: 10px 10px 0;
  .inner {
    background: #fff;
    padding: 12px 20px;
    padding-right: 5px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    .content {
      font-size: 14px;
      color: #4a4a4a;
    }
  }
}
