.container {
  position: relative;
  display: flex;
  .contentWrapper {
    flex: 1;
    overflow: hidden;
    transition: height .5s;
  }
  .btnWrapper {
    width: 58px;
    height: 100%;
    text-align: right;
    .button {
      position: absolute;
      bottom: 0;
      right: 3px;
      width: 54px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      background-color: #fff;
      color: #108ee9;
      cursor: pointer;
    }
    .icon {
      display: inline-block;
      margin-left: 5px;
      color: #108ee9;
      font-size: 12px;
      transform: scale(0.7);
      vertical-align: top;
    }
  }
}
