.singleFilterMenu {
  list-style: none;
  padding-left: 0;

  .inputWrapper {
    padding: 4px 10px 10px;
    position: relative;
    .input {
      display: inline-block;
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
    }
    input::-webkit-input-placeholder {
      transform: translateY(-1px);
    }
    input::-moz-input-placeholder {
      transform: translateY(-1px);
    }
    input:-moz-input-placeholder {
      transform: translateY(-1px);
    }
    input:-ms-input-placeholder {
      transform: translateY(-1px);
    }
    .sousuoIcon {
      position: absolute;
      top: 8px;
      right: 24px;

      &::before {
        font-size: 14px;
        color: #c2c2c2;
      }
    }
    .closeIcon {
      position: absolute;
      z-index: 10;
      top: 8px;
      right: 24px;
      cursor: pointer;
      &::before {
        color: #c2c2c2;
        font-size: 14px;
      }
      &:hover {
        &::before {
        color: #333;
        font-size: 14px;
        }
      }
    }
  }

  .optionList {
    max-height: 270px;
    overflow-y: auto;
  }

  li {
    padding-left: 14px;
    height: 28px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 28px;
    margin: 5px 0;
    &:hover,
    &:focus,
    &:active {
      background-color: #e6f3fc;
    }
  }

  .noContent {
    color: #ddd;
    font-size: 14px;

    &:hover,
    &:focus,
    &:active {
      background: #fff;
    }
  }
}

.currentValue {
  padding-bottom: 5px;
  margin-bottom: 14px;
  border-bottom: 1px solid #ddd;
}

.activeItem {
  background-color: #e6f3fc;
  padding: 0 14px;
}

.searchListItem {
  padding: 0 14px;
}

.cleanSelect {
  padding: 0 14px;
  color: #108ee9;
}

