.verticalTop {
  vertical-align: top;
}
.floatRight {
  float:right;
}
.floatLeft {
  float:  left;
}
.iconBtnBorder {
  border-left:1px solid #62c4f5;
}
.fixIconBtnBorder {
  border-left: none;
}
.fixMargin {
  composes: verticalTop;
  margin-right:20px;
}
.newSelect {
  margin-left: 10px;
  width: 90px;
}
.newSelect1 {
  composes: newSelect;
  composes: fixMargin;
}
:global{
  .hideSelect {
    display: none;
  }
}

.titleBar {
  padding:0 18px;
  height: 40px;
  background-image: linear-gradient( 90deg, #4dbaf1 0%, #1eaaf1 100%);
  margin-bottom: 1px;
}
.titleText {
  composes: floatLeft;
  height: 40px;
  margin-right: 22px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.titleBarRight {
  composes: floatRight;
  height: 40px;
}
.iconBtn {
  composes: iconBtnBorder;
  display: inline-block;
  margin: 8px 0;
  height: 24px;
  padding-left: 20px;
  line-height: 24px;
  color:#fff;
  box-sizing: border-box;
  i{
    cursor: pointer;
  }
}
.iconBtn1 {
  composes: iconBtn;
  composes: fixIconBtnBorder;
}

:global {
  .iconColor {
    color: #ffd92a;
  }
}

// 修改antd上Select样式
:global {
  .investPerformanceBoard {
    position: relative;
    .ant-select {
      color:#fff;
    }
    .ant-select-selection {
      background-color: transparent;
      border-color: transparent;
    }
    .ant-select-open .ant-select-selection,
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active {
      border-color: transparent;
      box-shadow: none;
    }
    .ant-select-selection--single {
      height: 24px;
    }
    .ant-select-selection__rendered {
      line-height: 22px;
    }
  }
}
// end