.columnsTitle{
  display: block;
  padding: 12px 8px;
  cursor: pointer;
}
.tableDiv{
  background: #fff;
  table{
    thead{
      background: #f3f3f4;
      font-size: 14px;
      th>span{
        div{
          margin-top: 2px;
        }
      }
    }
    tr{
      font-size: 12px;
    }
    tr:nth-child(even){
      background: #f9f9f9;
    }
  }
  :global {
    .ant-pagination{
      margin: 10px auto;
      text-align: center;
    }
    .ant-table-fixed-left{
      .ant-table-tbody{
        cursor: pointer;
      }
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 0;
    }
  }
}
:global {
  .ant-table-column-sorter{
    span:before{
      background: #f8ac59;
    }
    .ant-table-column-sorter-up.on .anticon-caret-up, .ant-table-column-sorter-down.on .anticon-caret-up, .ant-table-column-sorter-up.on .anticon-caret-down, .ant-table-column-sorter-down.on .anticon-caret-down {
      color: #f8ac59;
    }
  }
}
.tdWrapperDiv{
  padding: 10px 8px;
}