.personFeedbackContainer {
  .topClass {
    display: none;
  }
}
.problemwrap {
  :global {
    .ant-modal-close-x {
      font-size: 20px;
      font-weight: 700;
    }
    .ant-modal-header {
      background: #f7f7f7;
      .ant-modal-title {
        font-size: 16px;
        color: #4a4a4a;
      }
    }
    .ant-modal-body {
      padding: 16px 30px 38px;
    }
    .ant-modal-footer {
      background: #f7f7f7;
      .ant-btn {
        width: 80px;
        height: 30px;
      }
    }
  }
  .problembox {
    .title {
      font-size: 14px;
      color: #4a4a4a;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .errorTip {
      color: red;
      font-size: 14px;
      height: 21px;
    }
  }
}
