.itemUp {
  display: flex;
  align-items: center;
  color: #d30c0c;
  white-space: nowrap;
}
.itemDown {
  display: flex;
  align-items: center;
  color: #418d0b;
  white-space: nowrap;
}
.upDownIcon {
  font-size: 12px !important;
  margin-left: 3px;
}
.stockName {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.incomeDetailTable {
  :global {
    .ant-table-thead {
      tr {
        white-space: nowrap;
      }
    }
  }
}
