.itemUp {
  display: flex;
  align-items: center;
  color: #d30c0c;
}
.itemDown {
  display: flex;
  align-items: center;
  color: #418d0b;
}
.upDownIcon {
  font-size: 12px !important;
  margin-left: 3px;
}
