.profitAttributionAnalysis {
  border: 1px solid #dfe4eb;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  padding: 0 15px;
  background: #fff;

  .attributionAnalysis {
    display: flex;
    padding: 0 60px;
  }

  .attributionTip {
    position: relative;
    margin: 14px 60px 0;
    height: 20px;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 11px;
      border-bottom: 1px dashed #ddd;
      display: inline-block;
    }

    p {
      font-size: 12px;
      color: #999;
      padding: 0 20px;
      background: #fff;
      height: 20px;
      line-height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }

  .attributionSummary {
    margin-top: 20px;
    padding: 0 60px 20px;
    border-bottom: 1px solid #f2f3f8;

    & > p {
      font-size: 14px;
      color: #333;
      line-height: 20px;
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        background: #108ee9;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}

.infoContainer {
  text-align: center;

  .infoSummary, .infoComputeMethod {
    margin-top: 20px;
  }

  .name {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }

  .infoSummary {
    & > div {
      p {
        font-size: 12px;
        color: #333;
        line-height: 17px;
        text-align: left;
        margin-top: 10px;
        &:nth-of-type(1) {
          text-indent: 2em;
        }
        &:nth-of-type(2) {
          text-indent: 2em;
        }
        &:nth-of-type(6) {
          text-indent: 2em;
        }
      }
    }
  }

  .infoComputeMethod {
    p {
      font-size: 12px;
      color: #333;
      line-height: 17px;
      text-align: left;
      margin-top: 10px;
      text-indent: 2em;
    }
  }
}
