.investphFooterWrapper {
  width: 100%;
  height: 30px;
  border-top: 1px solid #f7f7f7;
  padding: 5px 0;
  font-size: 12px;
  .explainContent {
    width: 80px;
    float: right;
    .explainIcon {
      margin-right: 5px;
      .icon {
        color: skyblue;
      }
    }
    .explainIcon:hover, .explainText:hover {
      cursor: pointer;
    }
  }
}
