.multiFilterMenu {
  list-style: none;
  padding-left: 0;

  & > li {
    padding-left: 14px;
    height: 38px;
    line-height: 38px;

    &:hover,
    &:focus,
    &:active {
      background-color: #e6f3fc;
    }

    :global {
      .ant-checkbox-wrapper {
        font-size: 14px;
        display: inline-block;
        height: 38px;
        width: 100%;
        line-height: 38px;
      }

      .ant-checkbox-wrapper > span:nth-child(2) {
        color: #4a4a4a;
        font-weight: normal;
        font-family: "Microsoft YaHei";
      }
    }
  }

  .hiddenCheckbox {
    :global {
      .ant-checkbox {
        display: none;
      }

      .ant-checkbox-wrapper > span:nth-child(2) {
        color: #108ee9;
        padding: 0;
      }
    }
  }

  .hidden {
    display: none;
  }

  .activeItem {
    background-color: #e6f3fc;
  }
}
