.todo {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  &.haveTodo {
    background: #fdb02b;
  }
  &.chooseTodo {
    background: #60bbea;
  }
}
.serialNumber {
  margin-left: 10px;
  color: #9b9b9b;
  font-size: 12px;
}
.type {
  margin-left: 15px;
  color: #9b9b9b;
  font-size: 12px;
}
.drafter {
  max-width: 400px;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #9b9b9b;
}
