.todo {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  &.haveTodo {
    background: #fdb02b;
  }
  &.chooseTodo {
    background: #60bbea;
  }
  :global(.active) > td > :global(.leftSection) & {
    background-color: #fff;
    color: #4897f1;
  }
}
:global {
  .react-app .pageCommonList tr.active .rightSection.customerTaskList > span {
    background-color: transparent !important;
    border: 1px solid #fff;
  }
}

.serialNumber {
  margin-left: 10px;
  color: #9b9b9b;
  font-size: 12px;
  :global(.active) > td > :global(.leftSection) & {
    color: #fff;
  }
}
.type {
  margin-left: 15px;
  color: #9b9b9b;
  font-size: 12px;
  :global(.active) > td > :global(.leftSection) & {
    color: #fff;
  }
}
.subType, .date {
  max-width: 400px;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #666;
  :global(.active) > td > :global(.leftSection) & {
    color: #fff;
  }
  :global(.active) > td > :global(.rightSection.customerTaskList) & {
    color: #fff;
  }
}
.drafter {
  max-width: 400px;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #9b9b9b;
  :global(.active) > td > :global(.leftSection) & {
    color: #fff;
  }
}
