.editInput {
  width: 200px;
  i {
    margin-left: 4px;
  }
  .noInput {
    span {
      display: inline-block;
      width: 150px;
    }
  }
  .hasInput {
    input {
      width: 150px;
    }
  }
}
