.chiefViewpointBox {
  padding: 14px 20px;
  box-sizing: border-box;
  height: 220px;
  border: 1px solid #a6b8e2;
  border-radius: 3px;
  position: relative;
  .headerBox {
    margin-bottom: 10px;
    :global {
      .icon-meizhoushouxiguandian {
        margin-right: 10px;
        color: #ffb460;
      }
    }
    span {
      font-weight: bold;
      font-size: 16px;
      color: #4a4a4a;
    }
    a {
      float: right;
      font-size: 14px;
    }
  }
  h4.title {
    font-size: 16px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p.time {
    font-size: 14px;
    color: #c2c2c2;
  }
  p.content {
    min-height: 80px;
    font-size: 14px;
    color: #4a4a4a;
  }
  .footer {
    position: absolute;
    bottom: 12px;
    right: 20px;
    a {
      float: right;
      font-size: 14px;
    }
  }
}
