.filterBox {
  margin-bottom: 10px;
  .inputBox {
    display: inline-block;
    margin-right: 30px;
    :global {
      .ant-input-search-button {
        background-color: transparent;
        border-color: transparent;
        color: #333;
      }
    }
  }
  .selectBox {
    display: inline-block;
    margin-right: 30px;
    :global {
      .ant-select-selection {
        border: none;
        font-size: 14px;
        color: #4a4a4a;
        .ant-select-arrow::before {
          content: "\E606";
        }
      }
    }
  }
  .dateBox {
    display: inline-block;
  }
  .title {
    font-size: 14px;
    color: #333;
    vertical-align: middle;
  }
  :global {
    .lego-date-rangePicker-container {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
