.breadcrumbContiner {
  .link {
    color: #999;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #108ee9;
    }
  }
  .text {
    color: #333;
  }
  :global {
    .ant-breadcrumb {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .ant-breadcrumb-separator {
      color: #999;
      font-weight: bold;
    }
  }
}
