.choicenessCombinationBox {
  height: 100%;
  overflow-x: auto;
  .choicenessContent {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
}
.topContainer {
  margin-bottom: 20px;
}
