.choicenessCombinationBox {
  box-sizing: border-box;
  padding: 20px 0;
  height: 100%;
  min-width: 1032px;
  overflow-x: auto;
  .topContainer {
    margin-bottom: 20px;
    height: 404px;
    position: relative;
    .topContainerChild {
      position: absolute;
      width: 44%;
      height: 404px;
      padding: 16px 20px;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 2px 1px 5px #bdbcbc;
      &:last-child {
        width: calc(~"56% - 20px");
        margin-left: calc(~"44% + 20px");
      }
    }
  }
}
