.htscTag {
  display: inline;
  padding: 4px 6px;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  border-radius: 2px;
  margin-left: 6px;
}
.tag-processing {
  background-color: #f0b048;
}
.tag-complete {
  background-color: #7d9be0;
}
.tag-end {
  background-color: #a1a1a1;
}
.tag-blue {
  background-color: #7d9be0;
}
.tag-yellow {
  background-color: #f0b048;
}