.filterSection {
  display: flex;
  flex-wrap: wrap;
  .moreBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #108ee9;
    cursor: pointer;
    :global {
      .icon-more-down-copy {
        display: inline-block;
        font-weight: bold;
        transition: transform 0.2s ease;
        transform: rotate(0deg);
        &.up {
          transform: rotate(180deg);
        }
      }
    }
  }
  .filter {
    flex: 0 0 auto;
    margin-right: 15px;
    align-self: baseline;
  }
}
