.filterSection {
  .moreBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #108ee9;
    cursor: pointer;
    :global {
      .icon-more-down-copy {
        display: inline-block;
        font-weight: bold;
        transition: transform 0.2s ease;
        transform: rotate(0deg);
        &.up {
          transform: rotate(180deg);
        }
      }
    }
  }
  .none {
    display: none;
  }
}
