.mainFilter {
  padding: 10px 20px;
  .filterSection {
    display: flex;
    flex-wrap: wrap;
    .filter {
      flex: 0 0 auto;
      margin-right: 15px;
      padding: 10px 0;
      align-self: baseline;
      &.hidden {
        display: none;
      }
    }
  }
}
