.deputeFormWrap {
  padding: 20px 30px;

  .warningTips {
    background-color: #fdf7d3;
    min-height: 30px;
    margin-bottom: 20px;

    .text {
      font-size: 14px;
      color: #333;
      line-height: 30px;
    }

    .icon {
      padding: 0 10px;
      font-size: 14px;
      color: #f5a623;
      line-height: 30px;
    }
  }
}
