.customerStatisticsChart {
  flex: 1;
  width: 625px;
  height: 374px;
  position: absolute;
  top: 20px;
  left: calc(50% - 312px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
  background: #fff;
  .chartTitle {
    color: #333;
    font-size: 14px;
    padding-top: 30px;
    padding-left: 40px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 50px;
    border-color: transparent transparent #fff;
    border-style: solid;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
    z-index: -50;
  }
}
