.eventAnalysisReport {
  background: #fff;
  margin-top: 20px;
  border-radius: 2px;
  .searchEvent {
    margin-right: 30px;
  }
  .eventAnalysisTable {
    margin: 20px;
    font-size: 14px;
    :global {
      .ant-table {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
.eventAnalysisChart {
  position: relative;
  .eventAnalysisChartReport {
    position: absolute;
    display: none;
    z-index: 100;
    top: 40px;
    left: 60px;
  }
  &:hover {
    .eventAnalysisChartReport {
      display: block;
    }
  }
}
