.eventAnalysisReport {
  background: #fff;
  margin-top: 20px;
  border-radius: 2px;
  .searchEvent {
    margin-right: 30px;
  }
}
.taskStatisticsChart {
  position: relative;
  &:hover .taskStatisticsChartReport {
    display: block;
  }
  .taskStatisticsChartReport {
    position: absolute;
    display: none;
    z-index: 100;
  }
}
