:global {
  .pageHistory {
    background-color: #f3f3f4;
  }
}
.historyhd {
  height: 55px;
  background-color: #fff;
}
.historybd {
  padding: 16px 20px;
  background-color: #f3f3f4;
  .indicatorOverview {
    background-color: #fff;
    min-height: 350px;
    margin-bottom: 20px;
  }
  .indicatorAnalyse {
    margin-bottom: 14px;
    min-height: 980px;
    background-color: #fff;

    .caption {
      padding: 0 15px;
      height: 44px;
      line-height: 44px;
      background-color: #fff;
      font-size: 14px;
      color:#333;
      border-bottom: 1px solid #bfbfbf;
      box-sizing: border-box;
    }
    .polyArea {
      padding: 0 15px;
      height: 445px;
      background-color: #fff;
      overflow: hidden;
    }
    .scatterArea {
      min-height: 400px;
      padding: 0 15px;
      background-color: #fff;
    }
  }
}
.menuDiv{
  position: relative;
  &:hover{
    .menuUl{
      display: block;
    }
  }
}
.menuH3{
  color: red;
}
.menuUl{
  position: absolute;
  top: 10px;
  left: 0;
  background: red;
  display: none;
  li{
    display: block;
    width: 100px;
  }
}