@import "../../css/variable.less";


.inlineBlock {
  display: inline-block;
}

.investBlock {
  margin-bottom: @invest-block-gutter;
  padding: 10px 2px 2px 2px;
  background-color: @invest-bkc-block;
}
.pd-35 {
  padding:0 35px;
}
.headerFilter {
  composes: pd-35;
  height: 80px;
  line-height: 80px;
  background-color: @bkc-fff;
}
.investIndex {
  composes: pd-35;
}