@import "../../../css/util.less";

.filter {
  padding: 5px;
  display: inline-block;
}

.filterContainer {
  position: relative;
  z-index: 10;
  background: #fff;
  padding: 5px 0;
}

.normalFilter {
  position: relative;
  display: inline-block;
  padding-right: 214px;
  .definedLabelItemWrap {
    display: inline-block;
    width: calc(100% - 30px);
    .labelType {
      float: right;
      color: #ccc;
    }
  }
}

.moreFilterController {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 0;
}

.moreFilter {
  display: inline-block;
  position: relative;
}

