.filter {
  padding: 5px;
  display: inline-block;
}

.filterContainer {
  background: #fff;
  padding: 5px 0;
}

.normalFilter {
  position: relative;
  .filterfixRight {
    position: absolute;
    right: 115px;
    padding: 5px;
  }

  .filterfixEnd {
    position: absolute;
    right: 10px;
    padding: 5px;
  }
}

.moreFilter {
  position: relative;
}

