.basicInfoD {
  width: 265px;
  font-size: 12px;
  position: absolute;
  top: 87px;
  right: 20px;
  overflow: hidden;
  .operationIcon {
    line-height: 16px;
    .follows, .follows i {
      color: #108ee9;
    }
    li {
      display: inline-block;
      cursor: pointer;
      padding: 0 10px;
      margin-bottom: 10px;
      i {
        margin-right: 3px;
      }
      i, span, a {
        color: #777;
      }
      &:hover {
        i, span, a {
          color: #108ee9;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
