.managerContainer {
  // display: flex;
  // align-items: center;
  & > div span:first-child {
    font-size: 12px;
  }
  .sigleWidth {
    :global {
      .ht-filterWrapper {
        .ant-btn {
          width: 220px;
        }
      }
    }
  }
}
.selectLabel {
  float: left;
  line-height: 26px;
}
