.showChartBtn {
  position: relative;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: #3983ff !important;
  cursor: pointer;
}
.lh28 {
  height: 28px;
  line-height: 28px;
}
.showCharts {
  display: none;
  border: 1px solid antiquewhite;
  height: 135px;
  width: 510px;
  position: absolute;
  left: -5px;
  top: 25px;
  z-index: 2;
  background-color: #FFFFFF;
  border-radius: 8px;
  .chartsContent {
    display: inline-block;
    width:300px;
    height: 135px;
  }
  .chartsText {
    display: inline-block;
    width: 200px;
    font-size: 13px;
    color:#808080;
    vertical-align:top;
    div {
      margin-top: 10px;
    }
    .numA{
      font-weight: bold;
    }
    .numB{
      color: #DA3915;
      font-size: 14px;
      font-weight: bold;
    }
    span {
      float: none;
    }
  }
}