.adjustHistoryBox {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  width: 38%;
  height: 370px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 2px 1px 5px #bdbcbc;
}
.headBox {
  height: 54px;
  line-height: 54px;
  h3 {
    float: left;
    font-size: 14px;
    color: #4a4a4a;
  }
  a {
    float: right;
    font-size: 12px;
  }
}
.titleBox {
  line-height: 26px;
  font-size: 12px;
  color: #4a4a4a;
  border-bottom: 1px solid #ccc;
}
.security {
  float: left;
  width: 26%;
}
.time {
  float: left;
  width: 25%;
}
.const {
  float: left;
  width: 15%;
}
.change {
  float: left;
  width: 25%;
}
.icon {
  float: left;
  width: 9%;
  min-width: 42px;
  min-height: 1px;
}
