.composition {
  box-sizing: border-box;
  height: 408px;
  background: #fff;
  padding: 20px;
  position: relative;
  .title {
    font-size: 14px;
    color: #4a4a4a;
  }
  .left {
    position: absolute;
    width: 300px;
  }
  .right {
    margin-left: 300px;
  }
}
