/*
 * @Author: sunweibin
 */
.approvalBtnGroup {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  margin: 20px 0;
  background-color: #fff;
  box-sizing: border-box;
}
.rejectBtn {
  margin-right: 15px;
}
