.investmentFeature {
  margin: 0 60px;
  padding: 16px 0 30px;
  border-bottom: 1px solid #f2f3f8;
  display: flex;

  .title {
    font-size: 14px;
    color: #666;
    font-weight: bold;
  }

  .profitAbility {
    margin-right: 70px;
    width: 170px;

    .beatCustPercent {
      font-size: 34px;
      color: #ff5439;
      font-weight: bold;
    }

    .custAssetStage {
      font-size: 12px;
      color: #666;
      line-height: 17px;
    }
  }

  .profitAbilityLevel {
    width: 280px;
    margin-right: 70px;

    .levelWrapper {
      margin-top: 20px;

      :global {
        .ant-steps-dot {
          .ant-steps-item-tail {
            width: 70px;
            margin-left: 35px;
          }
          .ant-steps-item-icon {
            margin-left: 35px;
          }
          .ant-steps-item-content {
            width: 70px;
          }
        }
      }
    }

    .profitAbilityLevelTitle {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }

    .profitAbilityLevelIcon {
      margin: 2px 0 0 6px;
      font-size: 12px;
      color: #108ee9;
      cursor: pointer;
      display: inline-block;
    }
  }

  .investmentFeatureLabel {
    flex: 1;

    .labelContainer {
      margin-top: 20px;
    }
  }
}

.levelPopover {
  :global {
    .ant-popover-inner {
      background-color: fade(#021637, 80%);

      .ant-popover-title {
        color: #fff;
        border-bottom: 0;
        padding: 10px;
      }

      .ant-popover-inner-content {
        display: none;
      }
    }
    .ant-popover-arrow {
      background-color: fade(#021637, 80%);
    }
  }
}

.levelDesc {
  font-size: 12px;

  .levelLabel {
    width: 30px;
    display: inline-block;
  }

  .levelStrong {
    color: #ff2900;
  }

  .levelStronger {
    color: #ff8600;
  }

  .levelWeaker {
    color: #ffc728;
  }

  .levelWeak {
    color: rgba(200, 206, 134, 0.99);
  }

  .levelValue {
    color: #fff;
  }
}
