/*
 * @Description: 设置主职位的样式表
 * @Author: LiuJianShu
 * @Date: 2017-12-21 16:24:25
 * @Last Modified by: Liujianshu
 * @Last Modified time: 2018-04-17 15:00:08
 */
 .mainPositionWrapper {
  padding: 20px;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  overflow: auto;
  .infoFormDiv,
  .tableDiv {
    margin: 20px;
  }
}
