.dateFilter {
  padding: 0 25px;
  min-height: 50px;
  line-height: 50px;
  border-top: 1px dashed #ddd;
}
.label {
  float: left;
  width: 100px;
  text-align: left;
  font-size: 14px;
  color: #a1a1a1;
}
.rangePickerBox {
  float: left;
  width: 322px;
  text-align: left;
  color: #a1a1a1;
}
