@import './publicconfig.less';

.detailComponent {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	margin: 0;
}
.dcHeader {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	border: none;
	border-bottom: @borderBottom;
}
.dcHaderNumb {
	float: left;
	font-size: @fontSize;
	color: @fontColor;
}
.dcHeaderModifyBtn {
	float: right;
	margin-top: 7px;
	width: 59px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: @activeColor;
	border: 1px solid @activeColor;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background: @activeColor;
		color: #fff;
	}
}