@import './publicconfig.less';

.mlcHead {
	width: 100%;
	height: 15px;
}
.mlcHeadIcon {
	float: left;
	width: 4px;
	height: 15px;
	background: @activeColor;
}
.mlcHeadTitle {
	float: left;
	color: @fontColor;
	font-size: fontSize;
	margin-left: 11px;
	line-height: 15px;
}
