.errorPage {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #fff;
  display: block;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .imgError {
      width: 207px;
      height: 207px;
      margin: 0 auto 20px;
    }

    .errorTips {
      margin-bottom: 20px;

      span {
        color: #4a4a4a;
        letter-spacing: 0.2px;
      }

      .tipSorry {
        font-size: 18px;
      }

      .tipInfo {
        font-size: 14px;
      }
    }
  }
}
