.infoContainer {
  padding-top: 14px;
  // border-bottom:1px solid #f2f3f8;
}
.infoItemBox {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.infoItemBoxHalf {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
div.infoItem {
  margin: 0;
  line-height: 32px;
  div:nth-child(2) {
    padding-left: 0;
  }
}
.latestTime {
  padding-right: 15px;
  font-size: 14px;
  color: #999;
  text-align: right;
  line-height: 32px;
}
