.majorAssetsWrapper {
  padding: 14px 20px;
  box-sizing: border-box;
  height: 650px;
  border: 1px solid #a6b8e2;
  border-radius: 3px;
  :global {
    .ant-tabs-bar {
      margin: 0;
    }
  }
  .headerBox {
    span {
      font-weight: bold;
      font-size: 16px;
      color: #4a4a4a;
    }
    i {
      margin-right: 10px;
      color: #da97ff;
    }
    a {
      float: right;
      font-size: 14px;
    }
  }
  .itemList {
    height: 550px;
    overflow-y: auto;
  }
  .newIcon {
    position: relative;
    display: inline-block;
    width: 76px;
    i {
      font-size: 10px;
      position: absolute;
      right: 2px;
      top: -4px;
      color: #e32c2b;
    }
  }
}
