.detailWrapper {
  padding: 20px;
  height: 100%;
  background-color: #fff;
  .header {
    height: 98px;
    margin: 0 50px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    h2 {
      font-size: 24px;
      color: #333;
    }
    h3 {
      font-size: 14px;
      color: #a1a1a1;
      position: absolute;
      width: 100%;
      margin-left: -50px;
      bottom: 4px;
      line-height: 20px;
    }
  }
  .content {
    margin: 0 50px;
    text-indent: 2em;
    overflow: auto;
    p {
      line-height: 28px;
      font-size: 14px;
      &:first-child {
        margin-top: 18px;
      }
    }
  }
  .footer {
    height: 50px;
    border-top: 1px solid #e9e9e9;
    .left {
      float: left;
      i {
        margin-right: 6px;
      }
    }
    .right {
      float: right;
      i {
        margin-right: 4px;
        color: #108ee9;
      }
      a {
        margin: 0 6px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
