.CustomerGroup {
  background-color: #fff;
  margin: 15px 20px 20px 20px;
  .selectContent {
    min-height: 160px;
    padding: 0px 10px 0px 10px;
    .text {
      font-size: 18px;
      font-weight: bold;
      padding: 15px 0px;
    }
    .selectBtn {
      margin-top: 30px;
      .hasGroupBtn {
        padding: 0px;
        &:focus {
        }
        .btnText {
          display: inline-block;
          padding: 5px 5px 0px 8px;
          vertical-align: top;
        }
        .choosed {
          display: inline-block;
          vertical-align: top;
          background: url('../../../static/images/icon-choosed.png');
          width: 10px;
          height: 10px;
          background-size: contain;
        }
      }
      .newGroupBtn {
        margin-left:20px;
      }
    }
  }
}