.quickEntry {
	margin: 0 auto;
  width: 950px;
  height: 110px;
  :global .item {
  	float: left;
  	width: 300px;
  	height: 110px;
  	margin-left: 25px;
  	border-radius: 8px;
  	background: #ee0;
  	&:first-child {
  		margin-left: 0;
  	}
  }
}