.serviceInner{
  // display: none;
  padding:20px;
  .servicecontent{
    padding:10px;
    background: #FFF;
    .service_title{
      font-size:18px;
      font-weight: bold;
      color:#33393c;
      border-bottom: 1px solid #dddddd;
      padding:5px 0 10px 0;
    }
    .service_from{
      font-size: 14px;
      padding: 20px 0;
      .service_label{
        text-align: center;
      }
    }
    /*服务记录样式*/
    .serviceLog{
      padding: 10px 0 20px;
      :global {
        .panelHeader {
          border: 1px solid orange;
          .headerContainer {
            .serviceTime {
              width: 70px !important;
              left: -100px;
              display: inline-block;
              z-index: 10;
              top: -5px;
              position: absolute;
              word-wrap: break-word;
              word-break: break-word;
              text-align: right;
              font-size: 12px;
              min-width: 70px;
            }
          }
        }
      }
    }
    .showBtn{
      display: none;
    }
    .more{
      text-align: center;
    }

  }
  :global{
    @-webkit-keyframes loadingCircle
    {
      0%
      {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
      }

      to
      {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }

    @keyframes loadingCircle
    {
      0%
      {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
      }

      to
      {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }
    .ant-select-selection{
      border: 1px solid #d9d9d9;
    }
    .ant-select,.ant-calendar-picker{
      width:80% !important;
    }
  }
}

