.serviceInner {
  // display: none;
  padding: 20px;
  min-height: 405px;
  .serviceLog {
    margin-left: 100px;
  }
  .servicecontent {
    padding: 10px;
    background: #fff;
    .service_title {
      font-size: 18px;
      font-weight: bold;
      color: #33393c;
      border-bottom: 1px solid #ddd;
      padding: 5px 0 10px;
    }
    .service_from {
      font-size: 14px;
      padding: 20px 0;
      margin-left: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .serviceSource {
        text-align: center;
        margin-right: 28px;
        :global {
          .ant-select {
            width: 150px;
          }
        }
      }
      .serviceTime {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > .title {
          line-height: 30px;
        }
      }
      .serviceType {
        margin-right: 18px;
      }
      :global {
        .ant-select-selection {
          border: 1px solid #d9d9d9;
        }
        .ant-select {
          display: inline-block;
          vertical-align: bottom;
          .ant-select-selection.ant-select-selection--single {
            outline: none;
            box-shadow: none;
            .ant-select-selection__rendered {
              margin-left: 5px;
            }
            border-color: transparent;
            .ant-select-selection-selected-value {
              font-size: 14px;
              color: #333;
              font-weight: normal;
            }
          }
          &.ant-select-open {
            .ant-select-selection.ant-select-selection--single {
              .ant-select-selection__rendered {
                margin-left: 5px;
              }
              border-color: #348cf0;
              box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
            }
          }
        }
        // 兼容ie下拉图标旋转样式
        .ant-select-arrow {
          transform: scale(0.75);
        }
        //多选下拉小图标样式
        .ant-select-arrow:before {
          content: "";
          height: 0;
          position: absolute;
          right: -5px;
          top: 4px;
          width: 0;
          border: none;
          border-top: 8px solid #c2c2c2;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
        //清除单选select小图标旋转
        .ant-select-open .ant-select-arrow:before {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      .searchInput {
        margin-right: 28px;
        :global {
          .ant-input-suffix {
            line-height: 14px;
            .anticon {
              font-size: 14px;
            }
            button {
              background-color: transparent;
              border-color: transparent;
              color: #c2c2c2;
            }
          }
          .ant-input-search.ant-input-affix-wrapper {
            input {
              background: #fff;
              border: 1px solid #ccc;
              border-radius: 3px;
            }
            // placeholder
            ::-webkit-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            ::-moz-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            :-moz-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
            :-ms-input-placeholder {
              font-size: 14px;
              color: #d9d9d9;
            }
          }
        }
      }
    }
    .showBtn {
      display: none;
    }
    .more {
      text-align: center;
    }
  }

  :global {
    .ant-select-selection {
      border: 1px solid #d9d9d9;
    }
    .ant-select,.ant-calendar-picker {
      .ant-calendar-range-picker-input:nth-of-type(2) {
        margin-left: 15px;
      }
    }
  }
}
