.searchContact {
	padding: 20px;
	background: #fff;
}
:global {
	.ant-radio-group {
		width: 100%;
		padding: 15px 0 0;
	}
	.ant-radio-wrapper {
		margin-bottom: 5px;
		.ant-radio-inner {
			top: -1px;
		}
	}
}
