.todo {
	margin: 15px 20px 20px 20px;

	:global {
		.total-num {
			font-size: 14px;
			color: #666;
			 em {
			 	font-style: normal;
			 	color: #fdb02b;
			 }
		}
		.search-box {
			float: right;
			width: 320px;
			height: 32px;
			position: relative;
			.search-input {
				height: 100%;
				.ant-input {
					border: 1px solid #ddd;
					padding-right: 30px;
				}
			}
			.ant-input-affix-wrapper {
				.ant-input-suffix {
					right: 14px;
				}
		  }
			.search-btn {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				display: inline-block;
				width: 28px;
				background-color: #7698f7;
				border-radius: 5px;
				cursor: pointer;
			}
		}
    .todoList {
      margin-top: 28px;
      .ant-table-pagination {
      	.ant-pagination-item {
      		margin-top: 8px;
      	}
      }
    }
	}
}