.listContainer {
  background-color: #f3f3f4;
  .inner {
    margin: 20px 20px 44px 20px;
    padding: 7px 30px 60px;
    background-color: #fff;
    i {
      font-size: 12px;
      color: #6395e4;
    }
    .zuoIcon {
      margin-right: 4px;
    }
    .youIcon {
      margin-left: 4px;
    }
  }
  :global {
    .ant-table-wrapper {
      background-color: #fff;
      .ant-table-pagination {
        float: right !important;
        margin: 30px auto 0px !important;
        .ant-pagination-total-text  {
          margin-right: 20px;
          font-size: 14px;
          font-family:PingFangSC-Medium;
        }
        .ant-pagination-item {
          margin-bottom: 0px;
          border-radius: 0px;
          border: 1px solid #6395e4;
          color: #6395e4;
          font-size: 10px;
          font-family:PingFangSC-Medium;
        }
        .ant-pagination-item-active {
          background-color: transparent;
          border-color: rgba(0, 0, 0, 0.25);
          span {
            color: rgba(0, 0, 0, 0.25);
          }
        }
        .ant-pagination-prev, .ant-pagination-next {
          display: inline-table;
          height: 25px;
          line-height: 25px;
          border: 1px solid #6395e4;
          border-radius: 0px;
          font-size: 10px;
          font-family:PingFangSC-Medium;
          color: #6395e4;
        }
        .ant-pagination-prev {
          padding-right: 6px;
        }
        .ant-pagination-next {
          padding-left: 6px;
        }
        // .ant-pagination-prev a:after, .ant-pagination-next a:after {
        //   display: none;
        // }
        .ant-pagination-prev a, .ant-pagination-next a {
          color: #6395e4;
          display: -webkit-inline-flex;
          display: inline-flex;
          &:after {
            display: none;
          }
        }
        .ant-pagination-disabled {
          border: 1px solid rgba(0, 0, 0, 0.25);
          a {
            color: rgba(0, 0, 0, 0.25);
            i {
              color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
      .ant-table {
        height: 677px;
        table {
          border: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .ant-table-thead > tr > th {
            font-family:PingFangSC-Medium;
            font-size:14px;
            color:#4a4a4a;
            letter-spacing:0.2px;
            border-bottom: 1px solid #ccc;
            white-space: nowrap;
            line-height: 20px;
            padding: 4px 8px;
            background: #fff;
            text-align: left;
          }
          .ant-table-tbody > tr > td {
            padding: 8px 8px;
            line-height: 20px;
            white-space: nowrap;
            font-family:PingFangSC-Regular;
            font-size:14px;
            color:#9b9b9b;
            letter-spacing:0.2px;
            border: none;
            text-align: left;
          }
          .ant-table-tbody > tr > td:first-child {
            color:#4a4a4a;
          }
          .ant-table-tbody > tr > td:last-child {
            font-family:PingFangSC-Light;
            color:#4a4a4a;
          }
          tr {
            height: 36px;
            cursor: pointer;
          }
          tr:first-child {
            cursor: auto;
          }
          tr:nth-child(odd){background-color:#fff;}
          tr:nth-child(even){background-color:#f9f9f9;}
        }
      }
    }
  }
}