.detailAccountInfo {
  padding: 14px 30px 30px;
  background-color: #f9f9f9;

  .headerBtnsArea {
    margin-bottom: 13px;
    height: 30px;
  }

  .assetAndIncomeArea {
    height: 312px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d0d7e2;
  }

  .footTabsArea {
    background-color: #fff;
  }
}
