.detailAccountInfo {
  padding: 14px 0 0;
  background-color: #f1f1f1;

  .headerBtnsArea {
    margin-bottom: 13px;
    height: 30px;
  }

  .assetAndIncomeArea {
    height: 310px;
    margin-bottom: 20px;
    background-color: #fff;
  }
}
