.basicInfo {
  color: #4a4a4a;
  .userInfo {
    overflow: hidden;
    .label {
      flex: 0 0;
    }
  }
  .title {
    font-size: 15px;
    margin-bottom: 12px;
    color: #333;
    .itemDivider {
      width: 4px;
      height: 1.4em;
      background: #108ee9;
      margin-left: 0;
    }
    .editor {
      color: #108ee9;
      margin-left: 20px;
      cursor: pointer;
    }
    .isApprove {
      color: gray;
    }
  }
  .personalDesc {
    padding-top: 15px;
    .label {
      flex: 0 0 80px;
      color: #aaa;
      .required:before {
        display: inline-block;
        margin-right: 4px;
        content: "*";
        font-family: 'SimSun';
        line-height: 1;
        font-size: 12px;
        color: #f5222d;
      }
      div:nth-child(2) {
        color: #ff3c54;
      }
    }
    .inputWrap {
      width: 100%;
      color: #4a4a4a;
      textarea {
        font-size: 14px;
      }
      .addLabel {
        cursor: pointer;
        background: #fff;
        border: 1px solid #fcd2a6;
        border-style: dashed;
      }
      .selectLabelBtn {
        cursor: pointer;
      }
      & >div {
        cursor: auto;
      }
      .hideInput {
        width: 0;
        height: 0;
      }
      .errorInfoItem {
        color: red;
      }
    }
    .selectLabel {
      margin: 8px 0 8px 65px;
      button {
        color: #108ee9;
        border: 1px solid #108ee9;
      }
    }
    .selectApprover {
      margin-top: 12px;
      :global {
        label {
          color: #aaa;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
  .headerImg {
    float: left;
    padding: 0 15px 10px 0;
    .desc {
      font-size: 14px;
      text-align: center;
      :global {
        .ant-card-meta-description {
          font-weight: bold;
        }
      }
    }
    :global {
      .ant-card-body {
        display: none;
      }
    }
  }
  .userInfoDesc {
    font-size: 14px;
    overflow: hidden;
  }
  .userImg {
    width: 128px;
    height: 168px;
    padding: 4px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .editorInfoSubmit {
    margin-top: 55px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 12px;
    }
  }
  .infoLabel {
    color: #4a4a4a;
  }
  :global {
    .ant-spin-container {
      .ant-list-item {
        border-bottom: none;
        font-size: 14px;
        padding: 7px 0;
        &:first-child {
          padding-top: 5px;
        }
        &:last-child {
          padding-bottom: 5px;
        }
        b {
          margin-right: 7px;
        }
      }
    }
    .ant-tag {
      .anticon-cross {
        color: #d67c1e;
      }
    }
    .ant-tag-gold {
      background: #fef7f0;
      border: 1px solid #fcd2a6;
      color: #d67c1e;
      &:hover {
        color: #faad14;
        .anticon-cross {
          color: #faad14;
        }
      }
    }
  }
}

.labelContent {
  width: 100%;
  min-height: 150px;
  max-height: 230px;
  min-width: 120px;
  overflow: auto;
  :global {
    .ant-list-item {
     // border-bottom: none;
      font-size: 13px;
      padding: 0;
      cursor: pointer;
      & >div {
        padding: 0;
        & >div {
          padding: 5px 0 5px 16px;
          flex: 1;
        }
        .selected {
          color: #108ee9;
        }
      }
      &:hover {
        background: #e6f7ff;
      }
    }
  }
}

.labelPopover {
  padding-right: 5px;
  :global {
    .ant-popover-inner-content {
      padding: 12px 0;
    }
  }
}
