.container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  background: #f4f6f9;
  padding: 10px;
  .leftContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 222px;
    & > div {
      position: relative;
      flex: 0 0 auto;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .mostFocusContentLink {
      height: 160px;
    }
    .interestContentLink {
      height: 320px;
    }
    .competitionsLink {
      height: 160px;
      line-height: 160px;
      text-align: center;
      margin-bottom: 0;
      img {
        cursor: pointer;
      }
    }
  }
  .mainContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 816px;
    padding: 0 10px;
    .shotCutLink {
      flex: 0 0 auto;
      height: 80px;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .tabPanesContainer {
      flex: 0 0 auto;
      height: 570px;
      background: #fff;
      border: 1px solid #e5e9f2;
    }
  }
  .rightContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 222px;
    & > div {
      position: relative;
      flex: 0 0 auto;
      background: #fff;
      border: 1px solid #e5e9f2;
      margin-bottom: 10px;
    }
    .productDateLink {
      height: 192px;
    }
    .informationContainer {
      height: 282px;
    }
    .newsInfoContainer {
      height: 166px;
      margin-bottom: 0;
    }
  }
}

.introTooltip {
  :global {
    .introjs-tooltiptext {
      text-align: center;
    }
  }
}
