.container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
  background: #f4f6f9;
  padding: 10px;

  .leftContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 222px;
    .mostFocusContentLink {
      flex: 0 0 auto;
      height: auto;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .interestContentLink {
      flex: 0 0 auto;
      height: auto;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .competitionsLink {
      flex: 0 0 auto;
      height: 160px;
      background: #fff;
      border: 1px solid #e5e9f2;
    }
  }
  .mainContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 816px;
    padding: 0 10px;
    .shotCutLink {
      flex: 0 0 auto;
      height: 80px;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .tabPanesContainer {
      flex: 0 0 auto;
      height: 570px;
      background: #fff;
      border: 1px solid #e5e9f2;
    }
  }
  .rightContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 222px;
    .productDateLink {
      flex: 0 0 auto;
      height: 192px;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .informationContainer {
      flex: 0 0 auto;
      height: 320px;
      background: #fff;
      margin-bottom: 10px;
      border: 1px solid #e5e9f2;
    }
    .newsInfoContainer {
      flex: 0 0 auto;
      height: 128px;
      background: #fff;
      border: 1px solid #e5e9f2;
    }
  }
}
