.protocolTab {
  padding: 12px 22px;
  .btnWrapper {
    margin-bottom: 14px;
  }
  .iconWrapper {
    i {
      color: #108ee9;
      font-size: 14px;
      cursor: pointer;
      vertical-align: middle;
      &:first-child {
        margin-right: 13px;
      }
    }
  }
}
