.custPropertyBox {
  padding: 20px 20px 40px;
}
.custInfoBox {
  margin-bottom: 20px;
  min-height: 324px;
  padding: 14px;
  background-color: #fff;
  border: 1px solid #dfe4eb;
  border-radius: 2px;
}
