.pageCommonHeader {
  font-size: 14px;
  height: auto;
  min-height: 34px;
  display: flex;
  justify-content: space-between;
  padding: 2px 0 0 2px;
  .filterBox {
    flex: 1;
    display: flex;
    position: relative;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .filter {
      flex: 1;
      .filterFl {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
      }
    }

    .moreFilterBtn {
      :global {
        li:after {
          border: none;
        }
        .ant-btn {
          .ht-svg-xiangxia {
            background: url(../../../static/svg/more.svg) round;
            width: 12px;
            height: 12px;
            top: 7px;
          }
        }
      }
    }
    .dateWidget {
      :global {
        .ant-calendar-picker {
          height: 30px;
          max-width: 240px;
          .ant-calendar-picker-input {
            border: 0;
            outline: 0;
            font-size: 14px;
            padding-left: 0;
          }
          .ant-calendar-picker-icon {
            display: none;
          }
        }
      }
    }
    .dateRangePickerBox {
      vertical-align: middle;
      display: inline-block;
      min-width: 70px;
      margin-right: 20px;
      margin-left: 10px;
    }
    :global {
      .filterNoneIcon {
        display: none;
      }
      .filterMoreIcon {
        display: inline-block;
      }
    }
  }
  :global {
    .commonBtn {
      margin: 0 6px 0 15px;
    }
    //select边框
    .ant-select {
      width: auto;
      min-width: 70px;
      margin-right: 20px;
      .ant-select-selection {
        background-color: transparent;
        border: 1px solid transparent;
      }
      // 字体颜色大小
      .ant-select-selection__rendered div,
      .ant-select-selection__rendered span {
        color: #33393c;
        font-size: 14px;
        padding-right: 25px;
      }
      &.ant-select-open .ant-select-selection {
        border: 1px solid #348cf0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
      }
    }

    // 兼容ie下拉图标旋转样式
    .ant-select-arrow {
      transform: scale(0.75);
    }

    //多选下拉小图标样式
    .ant-select-arrow:before {
      content: "";
      height: 0;
      position: absolute;
      right: 2px;
      top: 5px;
      width: 0;
      border: none;
      border-top: 10px solid #c2c2c2;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    //清楚单选select小图标旋转
    .ant-select-open .ant-select-arrow:before {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}
