.tipsBox {
  margin-bottom: 20px;
  p {
    font-size: 14px;
    color: #4a4a4a;
  }
}

.tabBox {
  :global {
    .ant-input-suffix {
      button {
        background-color: transparent;
        border-color: transparent;
        color: #333;
        &:visited, &:active {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }
}
