.applyEditForm {
  background: #fff;

  .error {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
    i {
      margin-right: 4px;
    }
  }
  .clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  background-color: #f3f3f4;
  height: 100%;
  box-shadow: 5px 5px 5px #ededee;
  h1,
  h2,
  h3 {
    color: #000;
    font-size: 14px;
  }
  .inner {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    overflow: auto;
    .innerWrap {
      min-width: 650px;
    }
    .modHeader {
      position: relative;
      padding-left: 10px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        bottom: 3px;
        width: 4px;
        background-color: #108ee9;
      }
    }
    .title {
      font-size: 15px;
      color: #000;
      border-bottom: 1px solid #c2c2c2;
      padding: 0 0 15px;
    }
    .module {
      padding: 15px 0;
      border-bottom: 1px solid #f3f3f4;

      h2 {
        font-weight: normal;
        line-height: 1.5;
      }

      .coloumn {
        display: flex;
        flex: 1;
        flex-grow: 1;
        margin-bottom: 14px;
        min-width: 340px;
      }

      .label {
        width: 135px;
        display: inline-block;
        font-size: 14px;
        color: #a1a1a1;
        text-align: right;

        .isRequired {
          color: #ff4058;
          margin-right: 5px;
          font-style: normal;
        }

        .colon {
          padding: 0 4px;
        }
      }

      .value {
        display: inline-block;
        margin-left: 4px;
        font-size: 14px;
        color: #333;
      }

      .modContent {
        padding: 5px 0;
        position: relative;
        width: 100%;
        overflow: hidden;
        .propertyList {
          .item {
            // padding: 1px 0;
            position: relative;
            clear: left;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
          }
        }
        &:after {
          content: " ";
          display: table;
          clear: both;
        }
      }

      .stockAttachmentList {
        display: block;

        .fileList {
          background: #fff;
          border: 0;

          .fileItem {
            background: #f3f7fd;
            border: 1px solid #e8eef8;
            color: #7d9be0;
          }
        }
      }
    }
  }
  :global {
    .ant-table-row-expand-icon {
      float: left;
    }
  }
}
