.basicInfoBox {
  .basicInfo {
    border: 1px solid #e9e9e9;
    height: 128px;
  }

  .basicInfoItem, .basicInfoDeclare {
    display: inline-block;
    width: 33.33333%;
    margin-top: 14px;

    .label {
      width: 120px;
      display: inline-block;
      font-size: 14px;
      color: #a1a1a1;
      text-align: right;

      .colon {
        padding: 0 4px;
      }
    }

    .value {
      display: inline-block;
      margin-left: 4px;
      font-size: 14px;
      color: #333;
    }
  }

  .basicInfoDeclare {
    display: block;
  }
}
