.basicInfoBox {
  .basicInfoWrapper {
    border: 1px solid #e9e9e9;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 14px;
    margin-top: 14px;
  }

  .basicInfo {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 14px;
  }

  .coloumn {
    display: flex;
    flex: 1;
    flex-grow: 1;
    margin-top: 14px;
    min-width: 315px;
    max-width: 33.3333%;
  }

  .label {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    color: #a1a1a1;
    text-align: right;

    .colon {
      padding: 0 4px;
    }
  }

  .value {
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    color: #333;
  }

  .row {
    display: block;
    width: 100%;
    margin-top: 14px;
  }
}
