/*
 * @Author: zhangjun
 * @Date: 2018-06-10 14:23:58
 * @Last Modified by: zhangjun
 * @Last Modified time: 2018-06-11 13:54:55
 */

 .createApplyBox {
   padding: 14px 30px;

   .coloumn {
    display: flex;
    flex: 1;
    flex-grow: 1;
    margin-top: 14px;
    min-width: 340px;
  }

  .label {
    width: 135px;
    display: inline-block;
    font-size: 14px;
    color: #a1a1a1;
    text-align: right;

    .isRequired {
      color: #ff4058;
      margin-right: 5px;
      font-style: normal;
    }

    .colon {
      padding: 0 4px;
    }
  }

  .value {
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    color: #333;
  }
 }
