.signCustomerLabel {
  font-size: 14px;
  color: #4a4a4a;
  .selectedInfo {
    margin-bottom: 10px;
  }
  .addLabelContainer {
    margin: 10px 0;
    .addLabel {
      display: inline-block;
      cursor: pointer;
      position: relative;
      z-index: 1000;
      .addLabelBtn {
        display: inline-block;
        font-size: 14px;
        color: #108ee9;
        cursor: pointer;
        vertical-align: bottom;
        .addLabelIcon {
          display: inline-block;
          background: url(../../../../../static/svg/addIcon.svg) round;
          width: 14px;
          height: 14px;
          vertical-align: text-bottom;
        }
        .addLabelText {
          margin-left: 6px;
          vertical-align: middle;
        }
      }
      :global {
        .lego-filter-filterContainer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .lego-filter-filterWrapper {
          height: 20px;
          width: 100%;
          & > button:first-child {
            width: 90px;
            height: 20px;
            min-width: auto;
            overflow: hidden;
            opacity: 0;
          }
        }
      }
    }
  }
  .singleLabel {
    :global {
      .ant-tag {
        margin-bottom: 10px;
      }
    }
  }
  .signSelect {
    width: 250px;
    .signItemWrap {
      white-space: nowrap;
    }
    .labelItemWrap {
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
    }
    .labelType {
      color: #ddd;
      margin-left: 15px;
      margin-right: 5px;
      float: right;
      max-width: 96px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .newLabel {
      height: 36px;
      line-height: 36px;
      margin-top: 8px;
      color: #108ee9;
      cursor: pointer;
    }
    :global {
      .ant-btn {
        min-width: 200px;
        text-align: left;
        border: 1px solid #ccc;
      }
      .lego-filter-filterWrapper {
        .lego-filter-menu {
          min-width: 290px;
        }
      }
    }
  }
  .errorMsg {
    color: red;
  }
  :global {
    .ant-modal-header, .ant-modal-footer {
      background: #f7f7f7;
    }
    .ant-modal-title {
      font-size: 16px;
    }
    .ant-modal-body {
      height: 226px;
      font-size: 14px;
      box-sizing: border-box;
      padding-top: 10px;
    }
    .ant-select-selection__choice {
      background: #fef7f0;
      border: 1px solid #fcd2a6;
      font-size: 12px;
      color: #d67c1e;
      .ant-select-selection__choice__content {
        & > div > span {
          color: #d67c1e;
        }
      }
      .ant-select-selection__choice__remove {
        color: #d67c1e;
      }
    }
    .ant-tag {
      .anticon-cross {
        color: #d67c1e;
      }
    }
    .ant-tag-gold {
      background: #fef7f0;
      border: 1px solid #fcd2a6;
      color: #d67c1e;
      &:hover {
        color: #faad14;
        .anticon-cross {
          color: #faad14;
        }
      }
    }
  }
}

.keyWord {
  color: #ff784e;
}
