
@font-face {
  font-family: "iconfont";
  src: url('./iconfont.eot');
  src:
  url('./iconfont.eot') format('embedded-opentype'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg') format('svg');
}

:global {
  .ht-iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    color: #e1e1e1;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .ht-icon-sousuo:before { content: "\e7a6"; }

  .ht-icon-show:before { content: "\e60c"; }

  .ht-icon-tubiaozhizuomoban:before { content: "\e640"; }

  .ht-icon-daohang:before { content: "\e88a"; }

  .ht-icon-ZHicon_huaban:before { content: "\e636"; }

  .ht-icon-guanbi:before { content: "\e642"; }

  .ht-icon-jiantou:before { content: "\e64a"; }

  .ht-icon-zujian:before { content: "\e60d"; }

  .ht-icon-guanbi1:before {
    content: "\e645";
    color: #e1e1e1;
  }

  .ht-icon-xiala:before { content: "\e646"; }

  .ht-icon-xiangxia:before { content: "\e647"; }

  .ht-icon-jinggao1:before { content: "\e64c"; }
}

