.assetConfigHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 45px;

  .classifySelectContainer {
    padding-left: 5px;
    display: inline-block;
    :global {
      .lego-filter-filterContainer {
        border: 1px solid #ccc;
        border-radius: 2px;
      }
      .lego-filter-menuContainer .lego-filter-menu {
        width: 134px;
      }
    }
  }
}
