.endTermAssetTable {
  flex: 1;

  :global {
    .ant-table {
      .ant-table-thead {
        th {
          text-align: right;
          font-size: 14px;
          color: #666;
          font-weight: bold;
          padding: 0 25px;
        }
      }

      .ant-table-tbody {
        td {
          text-align: right;
          font-size: 14px;
          color: #666;
          padding: 0 25px;
        }
      }
    }
  }
}
