.endTermAssetChart {
  width: 340px;
  margin-right: 80px;

  .assetExplain {
    text-align: center;
    margin-top: 20px;

    p {
      display: inline-block;
      font-size: 12px;
      color: #666;
      margin-right: 17px;

      span {
        font-size: 16px;
        color: #333;
      }
    }
  }
}
