.createModalBox {
  padding: 0 50px;
  .module {
    padding: 15px 0;
    border-bottom: 1px solid #f3f3f4;
    .modContent {
      padding: 5px 0;
      position: relative;
      width: 100%;
      overflow: hidden;
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
    }
  }
}
