.newDevelopTeam {
  .addDevelopTeam {
    width: 100%;
    height: 32px;
    margin: 10px 0 21px;
    .spAddDropdownSelect {
      float: left;
      width: 220px;
      height: 32px;
      margin-right: 15px;
    }
    .spAddBtn {
      float: left;
    }
  }
  .newTeamTable {
    :global {
      .ant-table-body {
        border: 1px solid #e9e9e9;
        border-bottom: 0;
        border-radius: 0;
      }
      .ant-table-placeholder {
        border: 1px solid #e9e9e9;
        border-top: 0;
        border-radius: 0;
      }
      .ant-pagination,
      .ant-table-pagination {
        float: left;
        li {
          margin-bottom: 0;
        }
        .ant-pagination-prev,
        .ant-pagination-next {
          border: 0;
          a:after {
            font-size: 20px;
          }
        }
        .ant-pagination-item {
          min-width: 26px;
          height: 26px;
          line-height: 26px;
        }
      }
    }
    input {
      width: 60px;
    }
  }
}
