.serviceChannelLineChart {
  flex: 1;
  height: 368px;
  margin-left: 40px;
  position: relative;
  .chartTitle {
    color: #333;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .noChart {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 180px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
