.serviceChannelReport {
  background: #fff;
  border-radius: 2px;
  margin-top: 20px;
  padding: 0 0 20px;
  .divisionLine {
    margin: 10px 20px 0;
    border-top: 1px solid #ddd;
  }
  .serviceChannelChart {
    display: flex;
    padding: 0 0 0 20px;
    padding-top: 18px;
  }
}
