.serviceChannelPieChart {
  flex: 1;
  height: 368px;
  border-right: 1px solid #eee;
  position: relative;
  .chartTitle {
    color: #333;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .noChart {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 180px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  :global {
    .echartTooltipTable {
      font-size: 12px;
      color: #333;
      .echartTooltipName {
        width: 24px;
        height: 20px;
        border-bottom: 1px solid #333;
        border-radius: 1px;
        display: inline-block;
      }
    }
  }
}
