.activityColumnCarousel {
  .itemSlide {
    cursor: pointer;
    img {
      width: 100%;
      height: 150px;
    }
  }
  :global {
    .ant-carousel .slick-slide {
      width: 100%;
      height: 150px;
      text-align: center;
      overflow: hidden;
    }
    .ant-carousel .slick-dots li {
      margin: 0 3px;
    }
    .ant-carousel .slick-dots li button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #666;
      opacity: 1;
    }
    .ant-carousel .slick-dots li.slick-active button {
      background: #fff;
    }
  }
}
