.activityColumnWrapper {
  position: relative;
  padding: 14px 20px;
  margin: 10px;
  height: 100%;
  min-height: calc(~"100vh - 198px");
  background: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;

  .tip {
    font-size: 14px;
    color: #666;
    .warningTip {
      color: #ea001c;
    }
  }

  .createBox {
    height: 30px;
    margin: 20px 0 10px;
    display: inline-block;
    width: 100%;
    text-align: right;

    :global {
      .ant-btn {
        float: right;
        background: #108ee9;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        text-align: center;
        padding: 0;
        line-height: 30px;
      }
    }
  }

  .activityColumn {
    display: flex;

    .previewWrapper {
      width: 182px;
      text-align: center;

      .activityColumnCarousel {
        width: 247px;
      }

      .previewTitle {
        font-size: 14px;
        color: #333;
        margin-top: 10px;
        line-height: 14px;
      }
    }

    .activityColumnList {
      flex: 1;
      margin-left: 20px;
      height: auto;
      max-width: calc(~"100% - 204px");
    }
  }

  .footerButton {
    position: absolute;
    bottom: 20px;
    right: 20px;

    :global {
      .ant-btn {
        border-radius: 2px;
        width: 78px;
        height: 28px;
        text-align: center;
        padding: 0;
        line-height: 28px;
      }
    }
  }

  .cancelButton {
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 20px;
  }

  .submitButton {
    background: #108ee9;
    border: 1px solid #108ee9;
  }
}
