.activityColumnCarousel {
  .itemSlide {
    cursor: pointer;
    img {
      width: 100%;
      height: 160px;
    }
  }
  :global {
    .ant-carousel .slick-slide {
      width: 100%;
      height: 160px;
      text-align: center;
      overflow: hidden;
    }
  }
}
