.columnForm {
  padding: 25px 30px;

  .formCell {
    margin-bottom: 20px;
    height: 37px;

    .columnUpload {
      margin: -6px 0 0 -8px;
    }

    :global {
      .ant-form-item {
        width: 100%;

        .ant-input {
          font-size: 14px;
          color: #333;
          border: 1px solid #ccc;
          border-radius: 2px;
          height: 28px;
        }
      }
    }
  }

  .columnUpload {
    .fileUploadItem {
      margin: 0;
    }
  }

  .descCell {
    height: 200px;

    :global {
      .ant-form-item {
        width: 100%;
      }

      .ant-input {
        width: 100%;
        height: 170px;
        font-size: 14px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }
    .descBox {
      flex: 1;

      .descCount {
        width: 100%;
        display: inline-block;
        text-align: right;
        margin-top: 4px;
        font-size: 14px;
        color: #999;
      }
    }
  }
}
