.activityColumnModal {
  position: relative;

  .modalFooterButton {
    position: absolute;
    bottom: 30px;
    right: 30px;

    .cancelButton {
      background: #fff;
      border: 1px solid #ccc;
      margin-right: 20px;
    }

    .submitButton {
      background: #108ee9;
      border: 1px solid #108ee9;
    }

    :global {
      .ant-btn {
        border-radius: 2px;
        width: 78px;
        height: 28px;
        text-align: center;
        padding: 0;
        line-height: 28px;
      }
    }
  }
}
