.columnItemWrapper {
  border: 1px solid #efefef;
  border-top: 0;
  padding: 14px;
  display: flex;

  &:first-child {
    border-top: 1px solid #efefef;
  }

  .itemInfo {
    flex: 1;
    max-width: calc(~"100% - 100px");

    .itemContent {
      font-size: 14px;
      color: #333;
      line-height: 30px;
      margin-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      cursor: pointer;
    }
  }

  .itemOperate {
    margin: 3px 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #efefef;

    .edit {
      font-size: 14px;
      color: #108ee9;
      margin-right: 30px;
      cursor: pointer;
    }

    .defaultDelete {
      font-size: 14px;
      color: #108ee9;
      cursor: pointer;
    }

    .disabledDelete {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}
