.rangeFilterMenu {
  padding: 4px 14px;
  font-size: 14px;

  .divider {
    display: inline-block;
    width: 8px;
    height: 1px;
    background: #4a4a4a;
    vertical-align: middle;
    margin: 0 10px;
  }
  .error {
    border-color: #d0021b;
  }
  .btnGroup {
    padding-top: 20px;
    text-align: end;

    button {
      margin-left: 10px;
    }
  }
  .errMessage {
    display: none;
    &.show {
      display: block;
      color: #d0021b;
      font-size: 12px;
      padding-top: 8px;
    }
  }
}
