.editPageHd {
  padding:0 20px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  .HdName {
    font-size: 18px;
    color:#33393c;
    font-weight: 500;
  }
}
.editBasicHd {
  padding:0 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  .editBasic {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    .hDivider {
      height: 20px;
      flex: 0 0 2px;
      background-color: #d2d2d2;
      margin: 0 20px;
    }
    .basicInfo {
      line-height: 30px;
      .title {
        display: inline-block;
        font-size: 15px;
        color: #999;
        margin-right: 10px;
      }
    }


    .editBoardType,
    .editBoardName,
    .editBoardRange {
      line-height: 30px;
    }
    .editBoardType {
      flex: 0 0 200px;
    }
    .editBoardName {
      flex: 0 0 350px;
    }
    .editBoardRange {
      flex: 0 0 450px;
    }
    .notEdit,
    .canEdit {
      font-size: 15px;
      color: #33393c;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}