.filterContainer {
  padding: 15px 30px;
  height: 100%;
  overflow: auto;
}
.selectedNum {
  color: #ff784e;
}
.filterLine {
  margin-bottom: 10px;

  .filterItem {
    display: inline-block;
    height: 32px;
    margin-right: 10px;
    .filterLabel {
      color: #4a4a4a;
      font-size: 14px;
    }
    .expandText {
      color: #108ee9;
      font-size: 14px !important;
      cursor: pointer;
      :global {
        .iconfont {
          font-size: 12px !important;
        }
      }
    }
  }

  &.hideLine {
    display: none;
  }
}

.addEmpListLayerTable {
  :global {
    .ant-table-thead .ant-table-selection-column .ant-table-selection {
      display: none;
    }
  }
}
.addLayerTable {
  :global {
    .ant-pagination-item-active:focus a,
    .ant-pagination-item-active:hover a {
      color: #fff;
    }
  }
}
