.filterContainer {
  padding: 15px 30px;
  height: 100%;
  overflow: auto;
}
.selectedNum {
  color: #ff784e;
}
.filterLine {
  margin-bottom: 10px;

  .filterItem {
    display: inline-block;
    height: 32px;
    margin-right: 10px;
    .filterLabel {
      color: #4a4a4a;
      font-size: 14px;
    }
    .expandText {
      color: #108ee9;
      font-size: 14px !important;
      :global {
        .iconfont {
          font-size: 12px !important;
        }
      }
    }
  }
}
