.boardContainer {
  height: 100%;
  padding: 15px 30px;
  overflow: auto;
  .blocker {
    margin-bottom: 20px;

    .header {
      padding-bottom: 20px;

      .custTableHeaderRight {
        width: 200px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .downloadLink {
        font-size: 14px;
        color: #108ee9;
        line-height: 28px;
        text-decoration: none;
      }
    }

    .distributeRuleText {
      display: inline-block;
      width: 100px;
      height: 18px;
      padding-right: 10px;
      line-height: 18px;
      font-size: 14px;
      position: relative;
      text-align: right;
      .required {
        color: red;
        line-height: 18px;
        padding-right: 5px;
      }
    }
  }
}
