.chartTitle {
  height: 45px;
}
.chartTitleText {
  float:left;
  width: 100%;
  padding-right: 70px;
  line-height: 45px;
  font-size: 15px;
  color: #4c4c4c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seeIcon {
  float:right;
  margin-right: 15px;
  margin-left: -60px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.chartWrapper {
  height: 290px;
  width: 100%;
}