
.content{
  height: 80px;
  border-right: 4px solid #f5f5f5;
  padding-left: 17px;
  border-bottom: 4px solid #f5f5f5;
}
.noBorder .content{
  border-bottom: 0;
}
.title{
  color: #707070;
  font-size: 12px;
  padding-top: 18px;
  font-weight: normal;
  i{
    margin-right: 4px;
    vertical-align: baseline;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#728199), to(#8895aa));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.num{
  color: #388ebd;
  font-size: 21px;
  font-weight: normal;
}
.span{
  font-size: 12px;
  margin-left: 9px;
}