
.content{
  border-right: 2px solid #f3f3f3;
  margin: 14px 0 14px 0;
  padding-left: 17px;
}
.title{
  color: #707070;
  font-size: 12px;
  font-weight: normal;
}
.num{
  color: #388ebd;
  font-size: 21px;
  font-weight: normal;
}
.span{
    font-size: 12px;
    margin-left: 9px;
}