.h2{
  padding:0 18px;
  height: 39px;
  line-height: 39px;
  color: #000;
  font-size: 14px;
  font-weight: 200;
  background-color: #fff;
  margin-bottom: 1px;
}
.items {
  padding: 0 18px;
  background-color: #fff;
}
.itemWrap:last-child div{
  border-right: none;
}
.itemWrap:first-child div{
  padding-left: 0;
}