.titleText{
  padding:0 18px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  background-color: #f8ac59;
}
.items {
  background-color: #fff;
}
.itemWrap:nth-child(8n) div{
  border-right: none;
}
.noBorder{
  div{
    border-bottom: none;
  }
}