
.floatLeft {
  float:  left;
}
.floatRight {
  float:right;
}

.titleBar {
  padding:0 18px;
  height: 39px;
  line-height: 39px;
  background-color: #fff;
  margin-bottom: 1px;
}
.titleText {
  composes: floatLeft;
  margin-right: 22px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.exportBtn {
  composes: floatRight;
}
