.productOrderContainer {
  padding: 14px 30px 30px;
  background-color: #f9f9f9;

  :global {
    .ant-tabs.ant-tabs-card .ant-tabs-bar {
      padding-left: 0 !important;
      background-color: #f9f9f9;
      border-bottom: 1px solid #e8e8e8 !important;

      .ant-tabs-nav-container > .ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab {
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
        user-select: none;
        padding-left: 8px;
        padding-right: 8px;

        &.ant-tabs-tab-active {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  .tabPaneWrap {
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #dfe4eb;
    border-top: 0;
    border-radius: 0 0 3px 3px;
  }
}
