.container {
  padding: 14px 15px 20px 8px;
  .row:last-child {
    border: none;
  }
  .row {
    height: 34px;
    border-bottom: 1px solid #ccc;
    .intro {
      display: -webkit-flex; /* Safari */
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      height: 17px;
      position: relative;
      top: 8px;
      .title {
        font-size: 14px;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 15px;
      }
      .count {
        font-size: 14px;
        color: #1486d8;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}