.addContactWrap {
  padding: 0 42px;

  .formWrap {
    width: 100%;
    display: flex;
    align-items: stretch;

    .formSplit {
      width: 36px;
      flex: 0 0 auto;
    }

    .leftForm, .rightForm {
      flex: 1 1 auto;
    }
  }
}
