.addContactWrap {
  padding: 0 54px;

  .formWrap {
    width: 100%;
    display: flex;
    align-items: stretch;

    .formSplitPer {
      width: 50px;
      flex: 0 0 auto;
    }
    .formSplitOrg {
      width: 33px;
      flex: 0 0 auto;
    }
    .leftForm, .rightForm {
      flex: 1 1 auto;
    }
  }
}
