/**
 * @Author: zhufeiyang
 * @Date: 2018-01-30 13:37:45
 * @Last Modified by: wangyikai
 * @Last Modified time: 2018-10-24 16:27:30
 */

.tab {
  overflow: visible !important;
  :global {
    .ant-tabs-bar {
      margin-bottom: 10px;
      padding-left: 10px;
      border-bottom: 1px solid #a8b6d4;
    }
    .ant-tabs-nav .ant-tabs-tab {
      padding: 12px 0;
      width: 56px;
      margin-right: 40px;
      font-size: 14px;
      color: #8995a5;
    }
    .ant-tabs-tab-active.ant-tabs-tab {
      color: #333;
      font-weight: bold;
    }
    .lego {
      color: #333;
    }
    .lego-selection {
      background-color: #f4f6f9;
    }
    .lego-filter-filterWrapper > button:first-child {
      background-color: #f4f6f9;
    }
  }
}
