/**
 * @Author: zhufeiyang
 * @Date: 2018-01-30 13:37:45
 * @Last Modified by: zhufeiyang
 * @Last Modified time: 2018-09-14 13:46:09
 */

.tab {
  margin: 0 20px 10px;
  overflow: visible !important;
  :global {
    .ant-tabs-bar {
      margin-bottom: 10px;
      border-bottom: 1px solid #e5e9f2;
    }
    .ant-tabs-nav .ant-tabs-tab {
      height: 49px;
      padding: 16px 0;
      width: 56px;
      margin-right: 53px;
      font-size: 14px;
      color: #8995a5;
    }
    .ant-tabs-tab-active.ant-tabs-tab {
      color: #333;
      font-weight: bold;
    }
  }
}
