@import "../../css/util.less";
.commonWrapper {
  box-sizing: border-box;
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 18px;
    padding: 11px 0 13px 23px;
    border-bottom: 1px solid #a8b6d4;
    .one-line-ellipsis;
    a {
      float: right;
      margin-left: 6px;
      color: #108ee9;
    }
    &.calendar {
      background: url('./calendar.png') no-repeat 0 center;
      background-size: 16px 14px;
      //text-indent: 18px;
    }
    &.focusAttention {
      background: url('./focusAttention.png') no-repeat 0 center;
      background-size: 16px 14px;
      //text-indent: 18px;
    }
    &.interested {
      background: url('./interested.png') no-repeat 0 center;
      background-size: 16px 14px;
      //text-indent: 18px;
    }
    .title:last-child {
      margin-top: 0;
    }
  }
  .list {
    font-size: 14px;
    color: #333;
    position: relative;
    padding-top: 11px;
    li {
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      div {
        display: inline-block;
        .one-line-ellipsis;
        &:first-child {
          width: 65%;
        }
        &:last-child {
          float: right;
          width: 32%;
          text-align: right;
          color: #999;
        }
      }
      &:hover {
        color: #108ee9;
      }
    }
  }
  .noData {
    font-size: 14px;
    text-align: center;
    cursor: default;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: #666;
    }
  }
}
