@import "../../css/util.less";
.keyAttention {
  box-sizing: border-box;
  padding: 10px;
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 18px;
    padding: 5px 10px;
  }
  .list {
    font-size: 14px;
    color: #666;
    li {
      padding: 0 10px;
      line-height: 28px;
      div {
        display: inline-block;
        line-height: 1;
        cursor: pointer;
        &:first-child {
          max-width: 180px;
          .one-line-ellipsis;
        }
        &:last-child {
          float: right;
          margin-left: 6px;
          color: #108ee9;
        }
      }
      span {
        float: right;
      }
      &:hover {
        background: #e6f3fc;
      }
    }
  }
}
