.navWrapper {
  display: flex;
  margin: 0 auto;
  .icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: no-repeat center center;
  }
  .todayToDoNumbers {
    background: #c6ecfe url('./dclrw.png') no-repeat 7px;
    background-size: 21px 4px;
  }
  .businessNumbers {
    background: #fbe4ca url('./qzmbkh.png') no-repeat 9px 8px;
    background-size: 16px 16px;
  }
  .workFlowNumbers {
    background: #fcd1d1 url('./dblc.png') no-repeat 9px 9px;
    background-size: 16px 16px;
  }
  .notificationNumbers {
    background: #cbf7fa url('./xxtx.png') no-repeat 9px 9px;
    background-size: 16px 16px;
  }
  dl {
    flex: 1 auto 0;
    margin-right: 8px;
    padding-top: 20px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #dee4f0;
    border-radius: 2px;
    height: 80px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    dt {
      float: left;
      margin-left: 25px;
    }
    dd {
      line-height: 18px;
      text-align: right;
      padding-right: 25px;
    }
  }
  .value {
    font-size: 22px;
    color: #313235;
    padding-top: 2px;
  }
  .name {
    font-size: 12px;
    color: #8995a5;
  }
}
