.tabControllerContainer {
  display: inline-block;
  .custRangeContainer {
    display: inline-block;
    :global {
      .lego-selection--single .lego-selection__rendered .lego-selection-selected-value {
        max-width: none;
      }
    }
  }
  .timeSelectContainer {
    display: inline-block;
  }
}
