@import "../../css/variable.less";
@import "../../css/util.less";
.viewAndCombination {
  h2 {
    line-height: 20px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: normal;
    padding: 0 20px;
    .one-line-ellipsis;
    span {
      float: right;
    }
  }
  .view {
    position: relative;
    .text {
      height: 226px;
      font-size: 12px;
      line-height: 20px;
      padding: 0 20px;
    }
    .link {
      position: absolute;
      right: 20px;
      bottom: 2px;
      font-size: 12px;
      color: #2782d7;
    }
    .displayNone {
      display: none;
    }
  }
}
