@import "../../css/variable.less";
@import "../../css/util.less";
.viewAndCombination {
  .tab {
    box-sizing: border-box;
    padding: 10px 0;
    .nav {
      height: 38px;
      line-height: 38px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e5e9f2;
      .item {
        display: inline-block;
        font-size: 14px;
        transition: .3s;
        a {
          display: inline-block;
          line-height: 34px;
          color: #8995a5;
          &.active {
            font-weight: bold;
            color: #333;
            border-bottom: 2px solid #108ee9;
          }
        }
      }
    }
  }
  .content {
    height: 242px;
    position: relative;
    .view {
      margin-top: 14px;
    }
    h2 {
      line-height: 20px;
      font-size: 14px;
      color: #4a4a4a;
      font-weight: normal;
      .one-line-ellipsis;
      span {
        float: right;
      }
    }
    .text {
      height: 160px;
      font-size: 12px;
      line-height: 20px;
      position: relative;
      overflow: hidden;
      .noData {
        font-size: 14px;
        text-align: center;
        cursor: default;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .link {
      position: absolute;
      right: 20px;
      bottom: 36px;
      font-size: 12px;
      color: #2782d7;
    }
    .displayNone {
      display: none;
    }
  }
}
