.container {
  background: #fff;
  .breadCrumb {
    background: #fff;
    height: 40px;
    padding-left: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .custInfo {
    margin: 14px 14px 20px;
    background: #f0f6ff;
    box-shadow:
    1px 0 4px 0 rgba(221, 227, 233, 0.80),
    -1px 0 4px 0 rgba(221, 227, 233, 0.80),
    0 1px 4px 0 rgba(221, 227, 233, 0.80),
    0 -1px 4px 0 rgba(221, 227, 233, 0.80);
    height: 255px;
    .custBasicInfo {
      height: 53px;
      border-bottom: 1px solid #dedede;
    }
    .custDetailInfo {
      display: block;
    }
  }
  .tabContainer {
    background: #fff;
    .tab {
      overflow: visible !important;
      :global {
        .ant-tabs-bar {
          margin: 0;
          background: #fff;
          padding-left: 14px;
          border-bottom: 1px solid #108ee9;
        }
        .ant-tabs-bar .ant-tabs-nav-container {
          height: 37px;
        }

        .ant-tabs-bar .ant-tabs-tab {
          transition: none !important;
          border-radius: 0;
          border: 1px solid #ccc;
          border-bottom: 0;
          height: 36px;
          line-height: 36px;
          background: #fff;
          color: #333;
          padding-left: 14px;
        }
        .ant-tabs-bar .ant-tabs-tab-active {
          background: #108ee9;
          border: 1px solid #108ee9;
          border-bottom: 0;
          color: #fff;
          transition: none !important;
        }
      }
    }
  }
}
