.performerViewDetail {
  padding: 14px 20px 0 18px;
  background-color: #fff;
  height: e("calc(100% - 14px)"); // 保留底部区域，对抗affix计算边界
  overflow-x: hidden;
  overflow-y: scroll;
}
.taskTitle {
  padding-bottom: 7px;
  // height: 22px;
  line-height: 22px;
  font-size: 15px;
  color: #000;
  border-bottom: 2px solid #ccc;
  box-sizing: content-box;
}
.survey {
  float: right;
  color: #2782d7;
}
.serviceImplementation {
  width: 100%;
  margin-top: 25px;
  overflow: hidden;
}
.listControl {
  display: flex;
  margin-top: 15px;
  margin-left: 16px;
  height: 32px;
  line-height: 32px;
  .stateWidget {
    justify-self: flex-start;
    .label {
      font-size: 14px;
      color: #9b9b9b;
    }
    :global .ant-select .ant-select-selection {
      border: 0;
      background-color: transparent;
      font-size: 14px;
      color: #4a4a4a;
      .ant-select-arrow:before {
        top: 3px;
      }
    }
  }
  .total {
    font-size: 14px;
    color: #9b9b9b;
    span {
      color: #000;
    }
  }
  .totalCount {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
  }
  .pagination {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    :global {
      .ant-pagination-simple {
        font-size: 14px;
        color: #333;
      }
      .ant-pagination-item-link {
        border: 1px solid #d9d9d9;
      }
      .ant-pagination-prev {
        color: #333;
        height: 24px;
        line-height: 24px;
        vertical-align: top;
        margin-right: 0;
      }
      .ant-pagination-simple-pager {
        display: inline-block;
        margin-right: 15px;
        height: 24px;
        input {
          border: 0;
          outline: 0;
          pointer-events: none;
          width: 30px;
          min-width: 15px;
          max-width: 30px;
          overflow: hidden;
          padding: 0;
          margin: 0;
          text-align: right;
        }
        .ant-pagination-slash {
          // padding-right: 10px;
          margin: 0;
        }
      }
    }
  }
}

