.rowItem {
  position: relative;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  &:first-child {
    margin-top: -1px;
  }
  &.active {
    background: #4a90e2;
    .triangle {
      display: inline-block;
    }
    .name, .status {
      color: #fff;
    }
    .sign {
      background-color: #fff;
      color: #4a90e2;
    }
    .riskLevel {
      &.zuidi, &.baoshou, &.jinshen, &.wenjian, &.jiji, &.jijin {
        background-color: #fff;
        color: #4a90e2;
      }
    }
    .vipLevel {
      &.baijin {
        background: url('./img/a-baijin.png');
      }
      &.jinka {
        background: url('./img/a-jinka.png');
      }
      &.licai {
        background: url('./img/a-licai.png');
      }
      &.wu {
        background: url('./img/a-wu.png');
      }
      &.yinka {
        background: url('./img/a-yinka.png');
      }
      &.zuanshi {
        background: url('./img/a-zuanshi.png');
      }
    }
    :global {
      .iconfont {
        color: #fff;
      }
    }
  }
  .status {
    float: left;
    width: 76px;
    font-size: 14px;
    color: #4a4a4a;
    text-indent: 10px;
  }
  // .textCenter {
  //   text-align: center;
  // }
  // .status {
  //   font-size: 14px;
  //   color: #4a4a4a;
  // }
  .customerInfo {
    float: left;
    width: 95px;
    height: 40px;
    line-height: 40px;
    .ellipsis;
    &.long {
      width: 152px;
    }
  }
  .name {
    padding-left: 3px;
    color: #333;
    font-size: 14px;
  }
  .iconList {
    float: right;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
  }
  .vipLevel {
    display: inline-block;
    width: 40px;
    height: 14px;
    overflow: hidden;
    vertical-align: middle;
    &.baijin {
      background: url('./img/n-baijin.png');
    }
    &.jinka {
      background: url('./img/n-jinka.png');
    }
    &.licai {
      background: url('./img/n-licai.png');
    }
    &.wu {
      background: url('./img/n-wu.png');
    }
    &.yinka {
      background: url('./img/n-yinka.png');
    }
    &.zuanshi {
      background: url('./img/n-zuanshi.png');
    }
  }
  .riskLevel {
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 1px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fff;
    &.zuidi {
      background-color: #81a3b8;
    }
    &.baoshou {
      background-color: #756fb8;
    }
    &.jinshen {
      background-color: #7d9be0;
    }
    &.wenjian {
      background-color: #60c1ea;
    }
    &.jiji {
      background-color: #fdb02b;
    }
    &.jijin {
      background-color: #fd752b;
    }
  }
  .sign {
    display: inline-block;
    margin-left: 10px;
    width: 28px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #ff784e;
    border-radius: 1px;
    vertical-align: middle;
  }
  .triangle {
    position: absolute;
    top: 50%;
    right: -1px;
    z-index: 9999;
    margin-top: -7px;
    display: none;
    width: 0;
    height: 0;
    border-right: 7px solid #f3f7ff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
  // &:after {
  //   display: block;
  //   position: absolute;
  //   bottom: -1px;
  //   height: 1px;
  //   width: 100%;
  //   font-size: 0;
  //   content: ' ';
  //   background-color: #ddd;
  // }
}

.ln24 {
  height: 24px;
  line-height: 24px;
}
.otherColor {
  color: #c2c2c2;
}
.maleColor {
  color: #60c1ea;
}
.femaleColor {
  color: #f48a8a;
}
.orgColor {
  color: #7d9be0;
}
.prodColor {
  color: #756fb8;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pr14 {
  padding-right: 14px;
}
.fontsize0 {
  font-size: 0;
}
.textRight {
  text-align: right;
}
.invisible {
  visibility: hidden;
}
