.box {
  width: 100%;
  border: 1px solid #ddd;
  h5 {
    font-size: 14px;
  }
  .icon {
    color: #2782d7;
    width: 12px;
    height: 12px;
    font-size: 14px;
    margin-left: 5px;
  }
  .emStyle {
    font-style: normal;
    margin: 0 5px;
  }
  .phoneLeft {
    span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
    }
  }
  .phoneRight {
    text-align: right;
    span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
    }
  }
  .phone {
      span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
      width: 75px;
    }
  }
  .people {
    span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
      width: 105px;
    }
  }
  .peopleTwo {
      span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
      width: 75px;
    }
  }
  .peopleThr {
      span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
      width: 105px;
    }
  }
  .peopleFour {
    span {
      color: #333;
    }
    span:first-child {
      color: #9b9b9b;
      text-align: right;
      display: inline-block;
      width: 90px;
    }
  }
  .seeMore {
    text-align: right;
  }
  .titles {
    background: #f3f7ff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    h3.custNames {
      font-size: 20px;
      color: #2782d7;
      float: left;
    }
    h5.custNamesCont {
      color: #4a4a4a;
      text-align: right;
      span {
        margin: 0 5px;
      }
    }
  }
  .asset {
    padding: 5px 15px 0;
    h5 {
      line-height: 30px;
    }
    .lastCol {
      border-bottom: 1px solid #ddd;
    }
    .wordTips {
      font-size: 12px;
      color: #108ee9;
      margin-left: 5px;
    }
  }
  .service {
    padding: 5px 15px 10px;
    h5 {
      line-height: 30px;
    }
  }
}
.nameTips {
  background: #ffffcd;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(153, 153, 153, 0.50);
  border-radius: 3px;
  padding: 10px;
  h6 {
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
  }
}
