.targetCustomer {
  margin-top: 25px;
}
.listControl {
  margin-top: 15px;
  height: 20px;
  line-height: 20px;
  .stateWidget {
    float: left;
    .label {
      font-size: 14px;
      color: #9b9b9b;
    }
    :global .ant-select .ant-select-selection {
      border: 0;
      background-color: transparent;
      font-size: 14px;
      color: #4a4a4a;
    }
  }
}
