.reportFilter {
  display: flex;
  padding: 0 20px;
  .filter {
    margin-right: 20px;
    font-size: 14px;
    color: #333;
    :global {
      .ant-input {
        font-size: 14px;
        color: #333;
      }
    }
  }
  .dateRangePickFilter {
    margin-left: 20px;
  }
}

.eventAutoCompleteOptionValue {
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
