.header {
  display: flex;
  background: #fff;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  .item {
    width: 110px;
    text-align: center;
  }
}
