@import "../../../../css/variable.less";

.amountSelectMenu {
  padding: 4px 14px;
  font-size: 14px;

  .label {
    padding-bottom: 10px;
    color: @font-color;
    font-family: @font-family;
  }
  .radioGroup {
    :global {
      .ant-radio-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .ant-radio-button-wrapper {
        flex: 0 0 auto;
        font-size: 14px;
        height: 30px;
        width: 66px;
        line-height: 30px;
        color: @font-color;
        font-family: @font-family;
        font-weight: normal;
        margin: 0;
      }
      .ant-radio-button-wrapper-checked {
        background: #fff;
        border: 1px solid #108ee9;
        border-radius: 3px;
      }

      .ant-radio-button-wrapper-checked:hover {
        color: #333;
      }
    }
  }

  .menuRange {
    margin-top: 20px;
    .label {
      padding-bottom: 10px;
    }
    .inputError {
      border-color: #d0021b;
    }
    .divider {
      display: inline-block;
      width: 8px;
      height: 1px;
      background: #333;
      vertical-align: middle;
      margin: 0 10px 3px;
    }
  }

  .btnGroup {
    margin-top: 20px;
    text-align: end;

    button {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .errMessage {
    display: none;
  }

  .show {
    display: block;
    color: #d0021b;
    font-size: 12px;
    padding-top: 8px;
  }
}

