:global {
  .lego-formFilterValue {
    .lego-postfixValue {
      display: inline-block;
      vertical-align: top;
      margin-left: 9px;
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
