:global {
  .problembox{
    padding:0 20px;
    .pro_title{
      padding:0;
      font-size: 14px;
      color:#666666;
    }
    .list_box{
      padding:20px 0;
      .label{
        text-align: right;
        line-height: 30px;
      }
    }
  }
  .problemwrap{
    .ant-modal-footer{
      border-top:0;
    }
    .ant-modal-content{
      background:#fbfbfb;
    }
    .ant-modal-header{
      background:#2a4051;
      .ant-modal-title{
        color:#FFF;

      }
    }
    .ant-modal-close{
      color:#FFF;
    }
    .ant-modal-content{
      padding:0;
    }
  }
  .upload_txt{
    padding:5px 0;
  }
  [type=textarea]{
    resize: none;
  }
}
