:global{
  .record_list{
    .ant-table-thead > tr:nth-child(even), .ant-table-tbody > tr:nth-child(even){
      background-color:#f9f9f9;
    }
    .ant-table-tbody > tr:nth-child(even):hover{
      background-color:#f9f9f9;
    } 
    .ant-table-tbody > tr:hover{
      background-color: #FFF;
    }
    .ant-table-tbody > tr > td{
      border:0;
    }
    .item{
      text-align: left;
      .info_dv{
        font-size: 12px;
        line-height: 24px;
        span:first-child{
          color:#c2c2c2;
        }
      }
      .txt{
        line-height: 25px;
      }
    }
  }
}