:global{
  .filelist{
    li{
      padding:5px 0;
      a{
        color: #666666;
      }
      a:first-child{
        display: inline-block;
        width:200px;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      a:first-child:hover{
        cursor:default;
      }
      .removeFile{
        display: none;
        margin-left:30px;
        font-weight: bold;
      }
    }
    .userfile:hover{
        .removeFile{
          display: inline-block;
        }
      }
  }
  .upload_dv{
    .upload_txt{
      font-size: 14px;
      padding:5px 0;
    }
  }
}