.infoModal {
  :global {
    .ant-modal-content {
      height: 160px;
    }
    .ant-modal-body {
      padding-top: 33px;
      padding-right: 20px;
      padding-left: 20px;
    }
    .ant-modal-footer {
      border-top: 0;
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 0;
    }
    .info {
      font-size: 15px;
      color: #828282;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .tishi {
        font-size: 15px;
        color: #f5a623;
        margin-right: 16px;
        width: 18px;
        height: 18px;
      }
      .content {
        word-break: break-all;
        font-size: 14px;
        color: #2c2c2c;
      }
    }
    .confirm {
      background: #108ee9;
      border-radius: 4px;
      width: 62px;
      height: 32px;
    }
  }
}
