.custFeedbackSection {
  display: flex;
  .feedbackTime,
  .feedbackType {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    line-height: 30px;
    .title {
      flex: 0 0 auto;
      font-size: 14px;
      color: #a1a1a1;
    }
    .content {
      flex: 1 1 auto;
      padding-left: 15px;
      font-size: 14px;
      color: #4a4a4a;
      line-height: 30px;
    }
  }
}
