.creatorView {
  background-color: #fff;
  :global .pageCommonList .pageCommonTable .ant-table .ant-table-tbody > tr {
    vertical-align: top;
    &:nth-child(2n+1) {
      background-color: #e9e9e9;
    }
  }
}
