.custFilterWrap {
  font-size: 14px;
  :global {
    .ant-tree li.filter-node > span {
      color: #4a4a4a !important;
    }
    .ant-tree.lego-tree {
      max-height: 350px;
      overflow: auto;
    }
    .lego-tree.ant-tree li .ant-tree-node-content-wrapper {
      color: rgba(0, 0, 0, .65);
    }
  }
}
