@import '../../node_modules/antd/lib/style/v2-compatible-reset.less';

:global {
  // 在body上添加一个ant-v2-compatible的calss
  .ant-v2-compatible {
    // checkbox
    .ant-tree-checkbox-inner:after {
      left: 4px;
      top: 1px;
    }
    // rang日历
    .ant-calendar-range {
      width: 470px;
    }
  }
}
