@font-face {
  font-family: "iconfont";
  src: url('../../static/font/iconfont/iconfont.eot'); /* IE9*/
  src: url('../../static/font/iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/font/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../../static/font/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../static/font/iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}

:global {
  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
  }

  .icon-hide:before { content: "\e68b"; }

  .icon-close:before { content: "\e601"; }

  .icon-tables:before { content: "\e612"; }

  .icon-edit:before { content: "\e686"; }

  .icon-tuichu:before { content: "\e643"; }

  .icon-zichan:before { content: "\e658"; }

  .icon-success:before { content: "\e62a"; }

  .icon-xiazai:before { content: "\e616"; }

  .icon-kehu-copy:before { content: "\e629"; }

  .icon-fuzhi:before { content: "\e796"; }

  .icon-tuoguan:before { content: "\e600"; }

  .icon-daochu:before { content: "\e60b"; }

  .icon-xinyonghucanyuzhanbi:before { content: "\e728"; }

  .icon-xianshi:before { content: "\e6db"; }

  .icon-zhuzhuangtu:before { content: "\e661"; }

  .icon-renyuan:before { content: "\e675"; }

  .icon-beizhu:before { content: "\e606"; }

  .icon-tishi:before { content: "\e607"; }

  .icon-jianyi:before { content: "\e608"; }

  .icon-guanbi:before { content: "\e609"; }

  .icon-lashenanniu:before { content: "\e60a"; }

  .icon-wenti:before { content: "\e60c"; }

  .icon-xiala:before { content: "\e60d"; }

}
