.advisorSpaceForm {
  padding: 20px 30px;

  .roomWrapper {
    .coloumnHalfWrapper {
      display: flex;
      .coloumn {
        flex: 1;
        .value {
          width: 228px;
          :global {
            .ant-calendar-picker {
              width: 228px;
              height: 30px;
            }
          }
        }
      }
    }
    .scheduleWrapper {
      height: 90px;
      margin-bottom: 44px;
      :global {
        .lego-schedule-timeBar {
          background: #f3f7fd;
          border: 1px solid #eee;
          height: 36px;
          line-height: 36px;
          .period {
            font-size: 14px;
            color: #333;
          }
        }
        .lego-schedule-fullRow {
          .lego-schedule-contents {
            .lego-schedule-rowContent {
              height: 37px;
              border-left: 1px solid #eee;
              border-bottom: 1px solid #eee;
            }
          }
          .lego-schedule-drag {
            height: 37px;
            .lego-schedule-column {
              padding: 5px 0;
            }
            .lego-schedule-column.innerRight {
              border-right: 1px dashed #eee;
            }
            .lego-schedule-column.disabled {
              height: 29px;
              background: #108ee9;
              opacity: 0.3;
            }
            .lego-schedule-column.selected {
              background: #108ee9;
            }
          }
        }
      }
    }
  }

  .label {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    text-align: right;
    line-height: 30px;
    vertical-align: top;
    .isRequired {
      color: #ff4058;
      margin-right: 5px;
      font-style: normal;
    }
    .colon {
      padding: 0 4px;
    }
  }
  .value {
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
    color: #333;
    flex: 1;
    :global {
      .ant-input {
        height: 30px;
      }
    }
  }
  .theme {
    :global {
      .ant-input {
        width: 610px;
        height: 30px;
      }
    }
  }
  .participant {
    :global {
      .ant-input {
        width: 228px;
        height: 30px;
      }
    }
    .externalCustomer {
      display: inline-block;
      margin-left: 10px;
      .customerLabel {
        display: inline-block;
        font-size: 14px;
        color: #666;
        text-align: right;
      }
    }
  }
  .remark {
    :global {
      .ant-input {
        width: 610px;
        height: 130px;
      }
    }
  }
}
.participantAutoCompleteOptionValue {
  font-size: 14px;
  color: #4a4a4a;
  line-height: 18px;
}
