.confirmForm {
  padding: 20px 30px;
  .coloumn {
    display: flex;
    flex: 1;
    flex-grow: 1;
    margin-bottom: 14px;
    .label {
      width: 100px;
      display: inline-block;
      font-size: 14px;
      color: #666;
      text-align: right;

      .colon {
        padding: 0 4px;
      }
    }
    .value {
      display: inline-block;
      margin-left: 4px;
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
    }
  }
}
