.createAdvisorSpaceModal {
  :global {
    .ant-modal-footer {
      .commonBtn {
        margin-left: 10px;
        .ant-btn {
          width: 80px;
          height: 30px;
        }
      }
    }
  }
}
