.investmentDetail {
  .inner {
      padding: 15px 20px;
      .title {
          padding: 0 0 15px;
          border-bottom: 1px solid #ccc;
          color: #000;
          font-size: 14px;
          overflow: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .titleNum {
            font-weight: bold;
          }
          .titleBtn {
            border: 1px solid #ccc;
            padding: 5px 11px;
            color: #333;
            border-radius: 3px;
          }
      }
      .module {
          padding-top: 15px;
          .modContent {
              margin-left: 47px;
              padding: 5px 0;
              .propertyList {
                  .item {
                      position: relative;
                      clear: left;
                      width: 100%;
                      box-sizing: border-box;
                      margin-bottom: 4px;
                  }
              }
          }
      }
      .module2 {
          border-bottom: 1px solid #ddd;
      }
  }
}
