@import "../../src/css/variable.less";
.fspHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 58px;
  padding: 0 16px;
  background: linear-gradient(-1deg, #0a0b18 0%, #333241 100%);
  .headerContent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    .navItem {
      color: #979598;
      line-height: 16px;
      padding: 3px 6px;
      border-radius: 3px;
      font-size: 12px;
      .feedbackIcon {
        position: relative;
        top: -1px;
        height: 14px;
        width: 14px;
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 4px;
        background: url(../../static/svg/feedback.svg) round;
      }
      &:hover {
        background-color: #e1e7f3;
        color: #333;
        cursor: pointer;
      }
      .icon {
        margin-left: 2px;
      }
    }
    .splitLine {
      display: inline-block;
      width: 1px;
      height: 9px;
      background-color: #fff;
      margin: 0 4px;
    }
  }
}

.popovermenu {
  width: 280px;
  margin-left: 6px;
   :global .ant-popover-inner-content {
    padding: 0;
    .ant-menu-inline .ant-menu-item,
    .ant-menu-vertical .ant-menu-item {
      border-right: 0;
      height: 48px;
      line-height: 48px;
    }
    .ant-menu-inline .ant-menu-item-selected,
    .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}

.modal {
  font-size: 14px;
  color: #333;
  .selectedInfo {
    margin-bottom: 10px;
  }
  :global {
    .ant-modal-header, .ant-modal-footer {
      background: #f7f7f7;
    }
    .ant-modal-title {
      font-size: 16px;
    }
    .ant-modal-body {
      font-size: 14px;
      box-sizing: border-box;
      padding-top: 10px;
    }
  }
}

.rightIcon {
  font-size: 20px;
  vertical-align: middle;
  color: #108ee9;
}

.errorIcon {
  font-size: 20px;
  vertical-align: middle;
  color: #ff4561;
}

.validMessage {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  display: none;
  &.show {
    display: block;
  }
}
