@import "../../src/css/variable.less";
@import "../../src/css/icon.less";

:global {
  .react-body {
    overflow: auto;
  }
}

.layout {
  position: relative;
  .backToTop {
    width: 40px;
    height: 40px;
    background: url(../../static/svg/top.svg) round;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    display: none;
    transition: all ease-in-out .3s;
    cursor: pointer;
    &:hover {
      background: url(../../static/svg/top_hover.svg) round;
    }
    &.show {
      display: block;
    }
  }
  .main {
    transition: @transition-ease-out;
    .content {
       min-height: e("calc(100vh - 138px)");
       border-top: 1px solid transparent;
       border-bottom: 1px solid transparent;
       width: inherit;
       overflow: auto;
    }
  }
}

@media (max-width: 767px) {
  .layout {
    .main {
      .bread {
        padding: 0 12px;
      }
      .content {
        min-height: e("calc(100vh - 138px)");
      }
    }
  }
}
