@import "../../src/css/variable.less";
.layout {
  position: relative;
  background: #e4e4ea;
  .main {
    transition: @transition-ease-out;
    .content {
      min-height: e("calc(100vh - 138px)");
    }
  }
}
