@import "../../src/css/variable.less";

@logo-height: 50px;
@app: app;

.layout {
  position: relative;

  .main {
    transition: @transition-ease-out;

    .content {
      & > :first-child {
        background: #fff;
      }
      :global {
        .ant-tabs-tabpane.ant-tabs-tabpane-active {
          height: e("calc(100vh - 103px)");
          overflow: auto;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar {
          margin: 0;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
          border: none;
          border-radius: none;
          background: none;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
          padding-bottom: 4px !important;
          transition: all .5s linear;
        }
        .ant-tabs-nav .ant-tabs-tab-active,
        .ant-tabs-nav .ant-tabs-tab:hover {
          color: black;
          font-weight: bold;
          border-bottom: 2px solid red !important;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab .anticon-close {
          font-size: 15px !important;
          position: relative;
          padding-left: 10px;
          overflow: visible;
        }
      }
    }
  }
}

:global .@{app} {
  .ant-menu-dark {
    .ant-menu-submenu-title:hover,
    .ant-menu-submenu:hover {
      color: @primary-color;
    }

    .ant-menu-submenu-selected {
      color: @primary-color;

      &:not(.ant-menu-submenu-open) {
        background-color: @dark-half;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      & > a {
        color: #999;
      }

      &:hover > a {
        color: @primary-color;
      }
    }

    &.ant-menu-inline {
      .ant-menu-item-selected {
        background-color: @dark-half;
      }
    }

    .ant-menu-item-selected {
      color: @primary-color;
      background-color: @dark-half;

      & > a {
        color: @primary-color;
      }

      &:hover {
        background-color: @dark-half;
      }
    }
  }
}

@media (max-width: 767px) {
  .layout {
    .main {
      .content {
        min-height: e("calc(100vh - 160px)");
      }

      :global {
        .content-inner {
          padding: 12px;
          min-height: e("calc(100vh - 160px)");
        }
      }
    }
  }
}
