.notifiesInfoWrapper {
  margin: 0 auto;
  height: 100%;
  background: #fff;
  padding: 20px;
  font-size: 14px;
  .notifiesTitle {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
