.addContactWrap {
  padding: 20px 30px;

  :global {
    .ant-tabs .ant-tabs-nav-wrap .ant-tabs-nav {
      .ant-tabs-tab {
        padding: 0 0 10px;
        margin-right: 38px;
        font-size: 14px;
        color: #333;
        font-weight: bold;
      }
      .ant-tabs-ink-bar {
        width: 56px !important;
      }
    }
  }
  .waringTip {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #e33c39;
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
    border-radius: 2px;
    height: 30px;
    line-height: 28px;

    .waringText {
      margin-left: 5px;
    }
  }
}
