.basicInfoBox {
  border-bottom: 1px solid #f2f3f8;
}
.infoItemBox {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
div.infoItem {
  div:nth-child(2) {
    padding-left: 0;
  }
}
.container {
  padding-bottom: 10px;
}
.title {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  margin-bottom: 6px;
  padding-left: 4px;
}
