.infoItemBox {
  display: inline-block;
  width: 25%;
  height: 32px;
  vertical-align: top;
}
div.infoItem {
  margin: 0;
  height: 32px;
  & > div:nth-child(1) {
    line-height: 32px;
  }
  & > div:nth-child(2) {
    padding-left: 0;
    line-height: 32px;
    height: 100%;
  }
}
.container {
  padding-bottom: 10px;
}
.title {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  margin-bottom: 6px;
  padding-left: 4px;
}
