:global {
  .premissionbox{
    color:#666666;
    font-size: 14px;
    .pageBody{
      padding-top: 55px;
      #leftSection {
        width: 40%;
        height: 500px;
        float: left;
        overflow: hidden;
        background-color: white;
        overflow-x: hidden;
      }
      #rightSection {
        float: right;
        width: 55%;
        height: 500px;
        overflow: auto;
        background-color: white;
      }
    }
  }
}
