.combinationRankBox {
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 2px 1px 5px #bdbcbc;
  box-sizing: border-box;
}
.containerBox {
  padding-left: 18px;
}
.combinationListBox {
  margin-top: -10px;
  min-height: 260px;
}
