.combinationFilterBox {
  margin-top: -10px;
  .formItem {
    display: inline-block;
    &:last-child {
      margin-left: 58px;
    }
    &.treeSelectBox {
      :global {
        .ant-select {
          width: auto !important;
          min-width: 220px;
        }
      }
    }
  }
}
