  .totalPageSection {
    font-size: 12px;
    & > .totalPage {
      color: #108ee9;
      font-size: 12px;
    }
  }
  .commonPage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }