.performerViewDetail {
  padding: 14px 20px 24px 18px;
  background-color: #fff;
}
.taskTitle {
  padding-bottom: 7px;
  height: 22px;
  line-height: 22px;
  font-size: 15px;
  color: #000;
  border-bottom: 2px solid #ccc;
  box-sizing: content-box;
}
