.fileListMain{
  .fileList{
    font-size:13px;
    color:#666;
    // background: #ccc;
    background:#f7f7f7;
    border:1px solid #e9e9e9;
    .fileItem{
      margin: 0 28px;
      height:49px;
      position: relative;
      p{
        i{
          font-size: 18px;
          margin: 0 15px 0 0;
        }
        line-height: 49px;
      }
    }
  }
  .commonUploadBtn{
    border:1px dashed #e9e9e9;
    background: transparent;
    border-radius: 2px;
    width: 278px;
    height: 42px;
    margin-top: 20px;
  }
  .noFile{
    line-height: 49px;
    text-indent: 28px;
  }
  :global{
    .ant-progress{
      position: absolute;
      bottom: 10px;
      height: 4px;
      .ant-progress-outer{
        height: 4px;
      }
      .ant-progress-text{
        visibility: hidden;
      }
    }
    .ant-popover-arrow,
    .ant-popover-arrow:after{
      border-right-color: transparent !important;
      border-left-color: transparent !important;
    }
    .ant-popover-inner{
      border:1px solid #d9d9d9;
      border-radius:2px;
      width:302px;
      height:102px;
      border-radius: 3px;
      .ant-popover-inner-content{
        line-height: 28px;
        p{
          span{
            float: right;
            em{
              color: #357bf0;
            }
            em:first-child{
              margin-right: 10px;
            }
            em:nth-child(2){
              padding-left: 10px;
              border-left: 1px solid #d9d9d9;
            }
          }
          .fileListItemSize{
            color: #f5a623;
          }
        }
      }
    }
  }
}