@import '../../../css/variable.less';

.container {
  .upContent {
    margin-bottom: 32px;
  }
  .titleLabel {
    margin-bottom: 13px;
    font-family: @font-family;
    font-size: 14px;
    color: #5c5c5c;
  }
  :global {
    .ant-table {
      font-family: @font-family;
      border: 1px solid #e9e9e9;
      font-size: 14px;
      .ant-table-thead > tr > th {
        color: #333;
      }
      td {
        color: #666;
      }
      .ant-table-tbody > tr > td {
        padding: 8px 8px 16px;
      }
      .ant-table-thead > tr > th {
        padding: 14px 8px 14px;
      }
    }
    .ant-pagination {
      float: left !important;
      margin: 9px auto !important;
      height: 28px;
      line-height: 28px;
      .ant-pagination-prev, .ant-pagination-next {
        border: none;
        margin-right: 10px;
      }
      .ant-pagination-item {
        border: none;
        margin-right: 10px;
        margin-bottom: 0px;
      }
    }
  }
}