.summary {
  margin-top: 20px;

  p {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      background: #108ee9;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}
