@import '../../../css/variable.less';

:global {
  .react-app .ant-pagination-options .ant-select {
    width: 80px;
  }
}
.groupTable {
  table > thead > tr > th,
  table > tbody > tr > td {
    font-size: 14px;
    text-align: left;
    height: 38px;
  }
  table > thead > tr > th {
    background-color: #f7f7f7;
    color: #666;
    font-weight: bold;
  }
  table > tbody > tr > td {
    color: #333;
  }
}

