@import '../../css/variable.less';

.distributeHomeBox {
  background-color: #fff;
  padding: 0 20px;
  :global {
    table > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    table > thead > tr > th {
      background-color: #f7f7f7;
      text-align: left;
    }
  }
}
