.filterBox {
  margin-bottom: 14px;
  .searchBox {
    display: inline-block;
    vertical-align: middle;
  }
  .selectBox {
    display: inline-block;
    margin-left: 28px;
    vertical-align: middle;
  }
}
