.filterBox {
  margin-bottom: 20px;
  .searchBox {
    display: inline-block;
    vertical-align: middle;
  }
  .selectBox {
    display: inline-block;
    margin-left: 36px;
    vertical-align: middle;
  }
}
