.windControlAnalysis {
  border: 1px solid #dfe4eb;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  padding: 0 15px;
  background: #fff;
}

.infoContainer {
  text-align: center;

  .infoSummary, .infoComputeMethod {
    margin-top: 20px;
  }

  .name {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    color: #333;
    line-height: 17px;
    text-indent: 2em;
    text-align: left;
    margin-top: 10px;
  }

  .formula {
    font-size: 12px !important;
    color: #333;
    line-height: 17px;
  }

  .sharpFormula1 {
    font-size: 14px !important;
    color: #333;
    line-height: 17px;
  }

  .wareFormula1 {
    font-size: 12px;
    color: #333;
    line-height: 12px;
  }

  .formulaContainer {
    margin-top: 10px;
    font-size: 12px;
    color: #333;
    text-align: center;

    .wareFormula {
      font-size: 65px;
      color: #000;
    }

    .sharpFormula {
      font-size: 45px;
      color: #000;
    }
  }
}
