.latestViewBox {
  padding: 20px;
  background-color: #fff;
}
.floor {
  margin-bottom: 20px;
  .left {
    float: left;
    width: calc(~"50% - 10px");
  }
  .right {
    float: right;
    width: calc(~"50% - 10px");
  }
}
