.abilityScatterAnalysis {
  .abilityScatter {
    height: 400px;
    min-width: 360px;
    position: relative;
  }
  .abilityHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 44px;
    line-height: 44px;
    min-width: 200px;
    & > .customerDimensionSelect {
      max-width: 90px;
      text-align: center;
      :global {
        & .ant-select-selection-selected-value {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 90px;
          font-size: 12px;
        }
      }
    }
    & > .title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      color: #333;
    }
    & > .compare {
      padding-right: 10px;
      font-size: 12px;
      color: #666;
    }
  }
  & > .yAxisName {
    position: absolute;
    left: -45px;
    top: 150px;
    transform: rotate(270deg);
    font-size: 12px;
    width: 200px;
    text-align: right;
    color: #666;
  }
  &  .xAxisName {
    text-align: right;
    position: absolute;
    right: 60px;
    bottom: 0;
    font-size: 12px;
    color: #666;
  }
  & > .averageDescription {
    padding-left: 10px;
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    & > .averageIcon {
      color: #ffcb77;
      border-bottom: 1px solid #ffcb77;
      width: 20px;
    }
    & > .averageInfo {
      font-size: 12px;
      color: #666;
      padding-left: 10px;
      margin-left: -5px;
    }
  }
  & > .description {
    padding-left: 15px;
    font-size: 12px;
    color: #666;
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;
    & > .orgDes {
      & > .desIcon {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #38d8e8;
        display: inline-block;
        margin-right: 10px;
      }
    }
    & > .detailDesc {
      padding-top: 5px;
      padding-left: 20px;
    }
  }
  & > .noneTooltip {
    height: 59px;
  }
}
.custDimenSelect {
  max-width: 120px;
  min-width: 56px;
  width: auto !important;
  &  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}