.historyRange {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}

.chartHd {
  height: 65px;
  padding-left: 40px;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .headerLeft {
    margin-top: 28px;
    float: left;
  }
  .chartHdCaption {
    color: #666;
    font-size: 18px;
  }
  .chartUnit {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
  }
}