.historyRange {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}

:global {
  .react-app {
    .hideEle,
    .hideOption,
    .hideSelect {
      display: none;
    }
  }
}

.chartHd {
  height: 44px;
  line-height: 44px;
  padding-left: 40px;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .headerLeft {
    float: left;
  }
  .headerRight {
    float: right;
  }
  .chartHdCaption {
    color: #333;
    font-size: 14px;
  }
  .chartUnit {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
  }
  .newSelect {
    margin-left: 10px;
    width: 90px;
  }
  .newSelect1 {
    margin-left: 10px;
    width: 90px;
    margin-right:40px;
  }
  .pageFlip {
    display: inline-block;
    width: 90px;
    height: 28px;
    box-sizing: border-box;
  }
  .pageDivider,
  .pageBtn {
    font-size: 14px;
    // color: #b2b7ba;
    color: #108ee9;
    user-select: none;
  }
  .pageBtn {
    margin: 0 8px;
    cursor: default;
    user-select: none;
    &:hover {
      color: lighten(#108ee9, 10%);
    }
  }
  .pageBtnDis {
    color: #b2b7ba;
    &:hover {
      color: #b2b7ba;
    }
  }
}

.chartBd {
  height: 380px;
  padding-left: 40px;
}

