
  :global{
    div.active{
      border-color: #108ee9;
    }
    .am-bd-dv{
      border:1px solid #dddddd;
      border-radius: 10px;
      box-sizing: initial;
      overflow: hidden;
    }
    .am-bd-dv:hover{
      box-shadow: 0 1px 10px rgba(0,0,0,.2);
    }
    .am-bd-dv:active{
      border-color: #108ee9;
    }
  }
  .innderDv{
    padding: 15px 0;
    width: 70%;
    margin:auto;
  }
  .iconBox{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #70bbf2;
    color:#FFF;
    float:left;
  }
  .mglDv{
    margin-left: 50px;
    h4{
      font-size: 12px;
      line-height: 24px;
      font-weight: normal;
      white-space:nowrap;
      overflow:hidden; 
      text-overflow:ellipsis;
    }
    .numberDv{
      white-space:nowrap;
      overflow:hidden; 
      text-overflow:ellipsis;
      span{
        font-size: 26px;
        color:#333333;
        padding-right: 5px;
      }
    }
    .infoDv{
      color:#999999;
      line-height: 24px;
      white-space:nowrap;
      overflow:hidden; 
      text-overflow:ellipsis;
      span{
        padding-left: 20px;
        color:#ff4e7b;
      }
      span.less{
        color:#1ecb80;
      }
    }
  }