.overviewBox{
  padding:10px;
  font-size: 12px;
  color: #666;
  .clear{ clear:both}
  .titleDv{
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    .btn_r{
      float:right;
    }
  }
  .overview{
    padding:10px;
    .content{
      padding:20px 0 0 0;
      ul{
        margin-left: -2%;
        li{
          cursor:pointer;
          width: 30.8%;
          // min-width: 200px;
          height: 115px;
          float: left;
          margin-left: 2%;
          margin-bottom: 15px;
        }
      }
    }
    .bottomInfo{
      overflow: hidden;
      padding:0 0 0 40px;
      i{
        display: block;
        width:5px;
        height: 5px;
        border-radius: 50%;
        background: #108ee9;
        float: left;
        margin-top: 5px;
      }
      p{
        color:#a1a1a1;
        padding-left: 20px;
        span{
          color:#434f62;
        }
      }
    }
  }
  .radarBox{
    padding:10px;
    .radar{
      padding:10px 10px 10px;
    }
    .radarInfo{
      padding:15px 0 0 13%;
      i{
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #108ee9;
        margin: 0 25px 0 0;
      }
      span{
        font-size: 15px;
      }
      .now{
        color:#ff7a39;
        padding:0 15px 0 5px;
      }
      .before{
        color:#3983ff;
        padding:0 15px 0 5px;
      }
      .all{
        color:#777777;
      }
    }
  }
}