.indicatorOverviewHeader{
  padding: 0 15px;
  margin: 15px 0 0 0;
  height: 44px;
  line-height: 44px;
  background-color: #fff;
  border-bottom: 1px solid #bfbfbf;
  box-sizing: border-box;
  .analyticalCaption{
    float: left;
    font-size: 14px;
    color: #333;
  }
  .overviewHeaderRight{
    float: right;
    :global{
      .ant-btn{
        width: 95px;
        margin-left: 20px;
      }
      .ant-btn-background-ghost{
        border-color: #aaa;
        color: #aaa;
        i{
          vertical-align: middle;
          &::before{
            font-size: 15px;
            vertical-align: middle;
          }
        }
      }
      .ant-btn-background-ghost.ant-btn-primary,
      .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
        color: #108ee9;
        border-color: #108ee9;
      }
    }
  }
  .deleteBtnUnshowClass,
  .createBtnUnshowClass,
  .updateBtnUnshowClass{
    display: none;
  }
}