.tabMenu {
  position: relative;
  display: flex;
  max-width: 1536px;
  margin: 0 auto;
  background: #fff;
  flex-direction: row;
  z-index: 400;

  .menuItem {
    flex: 0 0 auto;
    width: 90px;
    height: 39px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding: 0 8px;
    margin: 0 7px;

    &:nth-child(2) {
       margin: 0 0 0 14px;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      .close {
        height: 39px;
        line-height: 39px;
      }
      .link {
        height: 39px;
        line-height: 39px;
        color: #333;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          color: #1f63c5;
        }
      }
      .hasHomePage {
        &:hover {
          color: #1f63c5;
        }
      }
      .iconDown {
        height: 39px;
        line-height: 39px;
      }
      i {
        font-size: 12px;
        display: inline-block;
        margin-left: 4px;
        padding: 5px 0;
        transition: transform .3s linear;
        transform-origin: center 48%;
        &:hover {
          font-weight: bolder;
        }
      }

      :global i.anticon.anticon-change::before {
        content: "\E61D";
      }

      &:focus,
      &:hover {
        outline: none;
        :global i.anticon.anticon-change {
          transform: rotateZ(180deg);
          transform-origin: center 48%;
          font-weight: bolder;
        }
      }
    }
    &.activeLink {
      background: #dfecff;
      .text {
        .link, i {
          color: #108ee9 !important;
        }
      }
    }
    &:first-child {
      margin-left: 14px;
    }
  }

  .menuItem.widerItem.moreButton {
    position: absolute;
    right: 35px;
    width: 44px;
    height: 39px;
    margin-left: 10px;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 12px;
        margin-left: 2px;
        color: #108ee9;
        padding: 0;
        transition: transform .3s linear;
        transform-origin: center 37%;
        &:hover {
          font-weight: bolder;
        }
      }
      &:focus,
      &:hover {
        outline: none;
        :global i.anticon.anticon-change {
          transform: rotateZ(-180deg);
          transform-origin: center 37%;
          font-weight: bolder;
        }
      }
    }
    .link {
      height: 39px;
      line-height: 39px;
      font-size: 12px;
      width: auto;
      padding: 0;
      color: #108ee9;
    }
    &.activeLink {
      border: none;
       background: #dfecff;
      .text {
        .link, i {
          color: #108ee9 !important;
        }
      }
    }
  }

  .moreTab {
    position: absolute;
    right: 0;
    width: 50px;
    height: 39px;
  }
}

.dropDownContainer {
  position: relative;
  z-index: 1;
  :global {
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 38px;
    }
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background: #ecf6fd;
      color: #2e669a;
    }
  }
  .subItem {
    min-width: 86px;
    font-size: 14px;
    line-height: 38px;
  }
}

.subMenuLink {
  :global {
    .ant-dropdown-menu-submenu-title:after {
      margin-top: 1px;
    }
    .ant-dropdown-menu {
      border: 1px solid #ddd;
      border-radius: 0 0 4px 4px;
      width: 190px;
      padding: 8px 0;
    }
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 38px;
    }
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background: #ecf6fd;
      color: #2e669a;
    }
  }
  .subItem {
    min-width: 86px;
    font-size: 14px;
    line-height: 38px;
  }
}

.informationCenterItem {
  border-top: 1px solid #ddd;
}

/* .activeItem {
  background: #ecf6fd;
  color: #2e669a;
  :global {
    .ant-dropdown-menu-submenu-title, .ant-dropdown-menu-submenu-title::after {
      color: #2e669a !important;
    }
    .ant-dropdown-menu-submenu-title:hover {
      background: #ecf6fd !important;
      color: #2e669a !important;
    }
  }
  &:hover {
    background: #ecf6fd !important;
    color: #2e669a !important;
  }
} */

.linkItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
