
.associateRelationTable {
  :global {
    .ant-pagination-item-active:focus a,
    .ant-pagination-item-active:hover a {
      color: #fff;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
    }
  }

  .action {
    color: #108ee9;
    font-size: 14px;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;

    .fixDelIcon {
      position: relative;
      top: -2px;
    }
  }
}
