.custRelationshipContainer {
  width: 100%;
  padding: 10px 30px;

  &.reject {
    padding: 10px 0;
  }

  .divider {
    background-color: #ddd;
    height: 1px;
    width: 100%;
    margin: 14px 0;
  }

  .associateBtn {
    margin-bottom: 14px;
  }

  .rejectCust {
    height: 30px;
    margin-bottom: 14px;

    & > .rejectCustLabel {
      display: inline-block;
      width: 70px;
      font-size: 14px;
      color: #a1a1a1;
      line-height: 30px;
      text-align: right;
    }

    & > .rejectCustName {
      font-size: 14px;
      color: #333;
      line-height: 30px;
    }
  }

  .rejectStockRepurchase {
    height: 30px;
    margin-bottom: 14px;

    & > .rejectStockRepurchaseLabel {
      display: inline-block;
      font-size: 14px;
      color: #a1a1a1;
      line-height: 30px;
    }

    & > .rejectStockRepurchaseName {
      font-size: 14px;
      color: #333;
      line-height: 30px;
    }
  }
}

.custAutoCompleteOptionValue {
  font-size: 14px;
  color: #4a4a4a;
  line-height: 18px;
}
