.custSelectLine {
  display: flex;
  align-items: center;
  height: 30px;
  & > .requiredSelectItem {
    flex: 0 0 auto;
    width: 124px;
    display: inline-block;
    text-align: right;

    & > .required {
      padding: 0 4px;
      font-size: 14px;
      color: #ff4058;
      line-height: 30px;
    }

    & > .label {
      font-size: 14px;
      color: #a1a1a1;
      line-height: 30px;
    }
  }
}
