.container {
  padding: 12px 6px 37px 9px;
  .uintRow {
    text-align: right;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9b9b9b;
    letter-spacing: 0.14px;
    padding-right: 20px;
  }
  .content {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    .left {
      min-width: 108px;
      width: 50%;
    }
    .right {
      min-width: 105px;
      width: 45%;
      padding-left: 16px;
      .row {
        display: -webkit-flex; /* Safari */
        display: flex;
        margin-top: 12px;
        color: #333;
        .count1 {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          letter-spacing: 0.14px;
        }
        .count2 {
          font-size: 14px;
          color: #333;
          font-family: PingFangSC-Regular;
          letter-spacing: 0.14px;
        }
      }
      .row:first-child {
        margin-top: 8px;
      }
    }
  }
}
.canClick {
  cursor: pointer;
  color: #2782d7;
}
