.entryBox {
  padding: 8px 0;
  overflow: hidden;
  .item {
    float: right;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    .itemIcon {
      margin-right: 4px;
      font-size: 14px;
      color: #ffc303;
    }
    .itemText {
      font-size: 14px;
      color: #108ee9;
    }
  }
}
