:global {
  .certain-category-search-dropdown {
    .ant-select-dropdown-menu li em {
      color: #fdb02b;
      font-style: normal;
    }
    .ant-select-dropdown-menu li .desc {
      padding-left: 10px;
      color: #c2c2c2;
    }
    .ant-select-dropdown-menu li .ant-select-dropdown-menu-item-group-title span {
      padding: 0;
    }
  }
}
.searchBox {
  .inner {
    // padding-top: 20px;
    .inputBox {
      width: 540px;
      :global {
        .ant-select.ant-select-opened,
        .ant-select.ant-select-focused,
        .ant-select.ant-select-opened.ant-select-focused, {
          .ant-btn {
            background: transparent;
          }
        }
        .ant-select-selection.ant-select-selection--single {
          background: rgba(255, 255, 255, 0.30);
        }
        .ant-select-auto-complete.ant-select .ant-input {
          color: #fff;
          &:focus {
            background: #fff;
            color: #333;
          }
        }
        .ant-select-auto-complete.ant-select .ant-input:focus,
        .ant-select-auto-complete.ant-select .ant-input:hover {
          box-shadow: none;
        }
        .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
          margin-left: 20px;
          color: #fff;
          font-size: 12px;
        }
        .ant-input {
          overflow: visible;
          line-height: 18px;
        }
        .ant-select {
          border-radius: 2px;
          font-size: 14px;
        }
        .ant-btn {
          border: none;
          background-color: transparent;
        }
        .ant-input-suffix {
          right: 0;
          background: transparent;
          padding-left: 2px;
          border-radius: 0 4px 4px 0;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          .ant-btn-clicked::after {
            display: none;
            border: 0;
            animation: none;
          }
          .ant-click-animating-node {
            display: none;
          }
          [ant-click-animating-without-extra-node]:after {
            display: none;
          }
          .ant-btn.search-btn.ant-btn-primary {
            border-radius: 0 4px 4px 0;
            border: 0;
            animation: none;
            .anticon.anticon-search {
              color: #979799;
              &:hover,
              &:focus {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  :global {
    .global-search-wrapper {
      position: relative;
      padding-right: 50px;
    }
    .anticon-question-circle {
      position: absolute;
      top: 7px;
      right: -30px;
      color: rgb(255, 225, 95);
      font-size: 20px;
      cursor: pointer;
    }
    .global-search {
      width: 100%;
    }
    .ant-select-auto-complete.ant-select .ant-select-selection--single {
       margin-right: -46px;
       height: 32px;
       line-height: 32px;
    }

    .ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: 62px;
      padding-left: 20px;
      border: none;
    }
  }
}
