.indexBox {
  background: #f4f6f9;
  .listItem {
    padding: 0;
    margin-bottom: 18px;
  }
  .labelWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    .chartLabel {
      height: 34px;
      margin: 1px;
      text-align: center;
      font-size: 12px;
      color: #666;
      letter-spacing: 0.06px;
      word-wrap: break-word;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      &:nth-child(2n) {
        cursor: pointer;
      }
    }
  }
  :global {
    .ant-col-8 > div {
        background-color: #fff;
    }
  }
}

.clickContent {
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30%;
  cursor: pointer;
}
