.productBox {
  background: #fff;
  .product {
    padding: 20px 0;
  }
  .productItem {
    position: relative;
    padding: 11px 0;
    .name {
      float: left;
      font-size: 12px;
      line-height: 24px;
    }
    .num {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
    }
    .Progressbox {
      padding-left: 60px;
    }
  }
  .productItem_a {
    .ant-progress-bg {
      background-color: #38d8e8;
    }
  }
  .productItem_b {
    .ant-progress-bg {
      background-color: #60c1ea;
    }
  }
  .productItem_c {
    .ant-progress-bg {
      background-color: #7d9be0;
    }
  }
  .productItem_d {
    .ant-progress-bg {
      background-color: #756fb8;
    }
  }
}
