@import "../../../css/variable.less";
.container {
  border: 1px solid #e5e9f2;
  border-radius: 2px;
  height: 238px;
  min-width: 238px;
  .header {
    font-weight: bold;
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 33px;
    padding-top: 6px;
    i {
      color: #fff;
      background: #108ee9;
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      margin-left: 12px;
    }
    .title {
      font-size: 14px;
      color: #333;
      margin-left: 5px;
      line-height: 20px;
      font-family: @font-family;
    }
  }
  .content {
    position: relative;
    margin: 17px 0 0 59px;
  }
}
