.timeBox{
  border:1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  i{
    color:#c2c2c2;
    margin-right: 5px;
  }
  .bd{
    width: 1px;
    height: 18px;
    background: #ddd;
    display: inline-block;
    vertical-align: -5px;
    margin: 0 10px;
  }
  :global{
    .ant-select-selection{
      border:0;
    }
    .ant-select-open .ant-select-selection,
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active{
      box-shadow: none;
    }
  }
}
