.toBeDoneBox{
  padding-bottom: 32px;
  .title{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    .name{
      font-family:PingFangSC-Medium;
      font-size:16px;
      color:#4a4a4a;
      letter-spacing:0.16px;
    }
  }
  .row {
    display: -webkit-flex; /* Safari */
    display: flex;
    .item{
      height: 64px;
      width: 161px;
      border-radius: 3px;
      color:#FFF;
      margin-right: 35px;
      a,a:hover{
        color:#FFF;
      }
      .content{
        height: 64px;
        padding-left: 60px;
        .description {
          height: 64px;
          overflow: hidden;
          position: relative;
          .count {
            height: 40px;
            line-height: 40px;
            font-family:PingFangSC-Semibold;
            font-size:30px;
            color:#ffffff;
            letter-spacing:0.3px;
          }
          .intro {
            font-family:PingFangSC-Regular;
            font-size:12px;
            color:#ffffff;
            letter-spacing:0.12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            top: -5px;
          }
        }
      }
    }
    .item_a{
      background: #38d8e8 url(../../../../static/images/customer_db_bg_a.png) no-repeat bottom left;
      background-size: 47px 48px;
    }
    .item_b{
      background: #60bbea url(../../../../static/images/customer_db_bg_b.png) no-repeat bottom left;
      background-size: 47px 48px;
    }
    .item_c{
      background: #7d9be0 url(../../../../static/images/customer_db_bg_c.png) no-repeat bottom left;
      background-size: 47px 48px;
    }
    .item_d{
      background: #756fb8 url(../../../../static/images/customer_db_bg_d.png) no-repeat bottom left;
      background-size: 47px 48px;
    }
    .item_a:hover{
       box-shadow: 0 0 5px 5px #38d8e8;
    }
    .item_b:hover{
       box-shadow: 0 0 5px 5px #60bbea;
    }
    .item_c:hover{
       box-shadow: 0 0 5px 5px #7d9be0;
    }
    .item_d:hover{
       box-shadow: 0 0 5px 5px #756fb8;
    }
  }
}