.toBeDoneBox{
  .inner{
    padding-bottom: 30px;
    .title{
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      .name{
        font-size: 16px;
        font-weight: 500;
        color:#333;
      }
    }
    .item{
      margin: auto;
      height: 60px;
      border-radius: 4px;
      color:#FFF;
      a,a:hover{
        color:#FFF;
      }
      .content{
        height: 60px;
        display: -webkit-flex; /* Safari */
        display: flex;
        .iconDiv{
          height: 60px;
          line-height: 60px;
          margin-left: 12px;
          margin-right: 15px;
          position: relative;
          overflow: hidden;
          .icon{
            font-size: 26px;
            color: #60bbea;
            height: 28px;
            position: relative;
            bottom: -7px;
          }
        }
        .description {
          height: 60px;
          padding-top: 5px;
          overflow: hidden;
          .count {
            font-size: 26px;
            color: #fff;
            height: 31px;
            line-height: 31px;
          }
          .intro {
            height: 16px;
            line-height: 16px;
            font-size: 10px;
            color: #60bbea;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .item_a{
      background: #188ca2;
    }
    .item_b{
      background: #176ab3;
    }
    .item_c{
      background: #334fb4;
    }
    .item_d{
      background: #1f63aa;
    }
    .item_a:hover{
       box-shadow: 0 0 5px 5px #188ca2;
    }
    .item_b:hover{
       box-shadow: 0 0 5px 5px #176ab3;
    }
    .item_c:hover{
       box-shadow: 0 0 5px 5px #334fb4;
    }
    .item_d:hover{
       box-shadow: 0 0 5px 5px #1f63aa;
    }
  }
}