.container {
  padding: 0px 20px;
  .title {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
  }
  .descriContainer {
    padding: 10px 5px;
    overflow: hidden;
    .row {
      font-size: 14px;
      color: #1486d8;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      height: 25px;
      line-height: 25px;
    }
    .none {
      display: none;
    }
    a {
      text-decoration: none;
    }
  }
  .fold {
    border-top: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #1486d8;
    text-align: right;
  }
}