.modalContent {
  padding: 20px;
  .tableTitle {
    margin-bottom: 8px;
  }
  .groupListTable {
    table > thead > tr > th, tbody > tr > td {
      padding: 7px 0 !important;
      :global {
        .ant-radio-wrapper {
          margin-left: 12px;
          margin-right: 15px;
        }
      }
    }
    tbody > tr > td:nth-child(1), table > thead > tr > th:nth-child(1) {
      width: 42px;
      min-width: 42px;
    }
    tbody > tr > td:nth-child(2) div {
      max-width: 147px;
      padding-right: 48px;
      color: #108ee9;
      span {
        padding: 0;
      }
    }
    tbody > tr > td:nth-child(3) span {
      max-width: 313px;
      padding-right: 48px;
    }
    tbody > tr > td:nth-child(4) span {
      max-width: 78px;
    }
  }
}
