.groupToLabelModal {
  :global {
    .ant-modal-close-x {
      font-size: 18px;
      color: #4a4a4a;
    }
    .ant-modal-header {
      padding: 14px 20px;
      .ant-modal-title {
        font-weight: 600px;
        font-size: 16px;
        color: #4a4a4a;
      }
    }
    .ant-modal-footer {
      padding: 16px 20px;
      border-top: 0;
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}

.operationBtnSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .btn {
    width: 80px;
    height: 30px;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  .blueGroundBtn {
    background: #108ee9;
  }
}
