@import "../../../../css/variable.less";

.lastServiceDateMenu {
    padding: 4px 14px;
    font-size: 14px;
    color: #333;

  .datePickerContent {
    .datePicker {
      width: 175px;
      padding: 10px;
    }
  }
  .menuRadio {
    padding-top: 10px;
    .radioGroup {
      .radio {
        font-family: @font-family;
        color: @font-color;
        font-weight: normal;
        font-size: 14px;
      }
      .radio:first-child {
        padding-right: 50px;
      }
    }
  }
  .btnGroup {
    margin-top: 20px;
    text-align: right;

    button {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

.errMessage {
  display: none;
}

.show {
  display: block;
  color: #d0021b;
  font-size: 12px;
  padding-top: 8px;
}
