.contactWayWrap {
  padding: 15px 30px;

  .addContactWay {
    margin-bottom: 20px;
  }

  .block {
    margin-bottom: 20px;

    .header {
      position: relative;
      padding-left: 20px;
      height: 21px;
      margin-bottom: 13px;
      line-height: 21px;
      font-size: 16px;
      color: #666;

      &:before {
        content: " ";
        position: absolute;
        width: 3px;
        height: 15px;
        top: 3px;
        left: 0;
        background-color: #108ee9;
      }
    }

    .switchArea {
      margin-bottom: 13px;
      height: 20px;

      .switchBox {
        margin-right: 60px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #666;

        .switch {
          margin-left: 15px;
        }
      }
    }

    .orgPhoneTable {
      :global {
        .ant-table-tbody > tr > td {
          height: 38px;
          padding: 10px 0 10px 10px !important;
          white-space: nowrap;
          line-height: 18px;
          font-size: 14px;
          color: #333;

          &:last-child {
            padding-right: 10px !important;
          }
          &:first-child {
            padding-left: 20px !important;
          }
        }
        .ant-table-thead > tr > th {
          padding: 10px 0 10px 10px !important;
          white-space: nowrap;
          font-size: 14px;
          font-weight: bold;
          color: #666;
          &:last-child {
            padding-right: 10px !important;
          }
          &:first-child {
            padding-left: 20px !important;
          }
        }
      }
    }
  }
}
.editContactModalWrap {
  padding: 15px 30px;
}
.textEllipse {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
