.searchContact {
	padding-top: 20px;
	background: #fff;
	:global .anticon-search:before {
		color: #c2c2c2;
	}
	.bottomLabel {
	  display: block;
    position: absolute;
    bottom: -47px;
    right: 156px;
    font-size: 14px;
		&.hide {
			display: none;
		}
		span {
			color: #4a4a4a;
		}
		i {
			font-style: normal;
			color: #ff784e;
			margin-right: 5px;
		}
	}
	.tipsWord {
		color: #4a4a4a;
		font-size: 12px;
		padding: 10px 0;
		span {
			color: #ff784e;
			margin: 0 5px;
		}
	}
}
.searchTitle {
	height: 30px;
	line-height: 30px;
	color: #9b9b9b;
	font-size: 14px;
}

