.searchContact {
	padding: 20px 0;
	background: #fff;
	.tipsWord {
		color: #999;
		font-size: 12px;
		padding: 10px 0;
		span {
			color: #ff784e;
			margin: 0 5px;
		}
	}
}
.searchTitle {
	height: 30px;
	line-height: 30px;
	color: #9b9b9b;
	font-size: 14px;
}
