.divRows{
	width:100%;
	padding: 10px 15px;
	position:relative;
	&:hover{
		background:#F1F8FF;
		.seeCust{
			display:block;
		}
	}
	.title{
		font-size:14px;
		font-weight:bold
	}
	h4{
		font-size:14px;
		line-height:24px;
		span{
			color:#ff784e;
			padding:0 5px;
		}
	}
	h4.titExp{
		color:#999;
		span{
			color:#108ee9;

		}
	}
	.seeCust{
		position: absolute;
	    right: 15px;
	    top: 15px;
	    font-size: 14px;
	    display:none;
	}
}
