:global {
  .react-app {
    .uploadBox {
      padding: 15px 0;
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: start;
      .upload_txt {
        font-size: 14px;
        padding: 10px 0;
      }
      .upload_txt:hover {
        color: #108ee9;
      }
      & > span {
        width: 100%;
      }
      & > .overviewBtnSection {
        display: block;
        margin-left: 20px;
        margin-top: 5px;
        // margin-bottom: 10px;
        // padding-bottom: 10px;
        // border-bottom: 1px solid #dddddd;
        .overviewBtn {
          display: block;
          padding: 0 17px !important;
          font-size: 12px !important;
        }
      }
    }
    .ant-confirm-body {
      .ant-confirm-title {
        font-size: 16px;
      }
      .ant-confirm-content {
        font-size: 14px;
      }
    }
  }
}
