.accountHeaderContainer {
  float: right;
}

.accountHeader {
  background: #fff;
  border: 1px solid #108ee9;
  border-radius: 2px;
  width: 89px;
  height: 29px;
  font-size: 14px;
  color: #108ee9;
  text-align: center;
  margin-left: 9px;
}
