.topRight {
    background: #fff;
    border: 1px solid #108ee9;
    border-radius: 2px;
    width: 87px;
    height: 27px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #108ee9;
    text-align: center;
    float: right;
}

.assets {
    background: #f7faff;
    width: 1030px;
    height: 65px;
    margin: 20px 30px 11px;
}

.tabContainer {
    background: #fff;
    width: 1030px;
    height: 40px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
    margin-left: 30px;
    .firstTabTitle {
        font-weight: 700;
        color: #000;
    }
    .secondTabTitle {
        font-family: PingFangSC-Regular !important;
    }
}
