.container {
  display: flex;
  height: 310px;
  align-items: center;

  .splitLine {
    flex: 0 0 auto;
    width: 1px;
    height: 265px;
    background-color: #e8ecf1;
  }

  .assetDistribute {
    height: 100%;
    width: 58%;
    padding: 0 20px;
  }

  .incomeTrend {
    height: 100%;
    width: 40%;
    padding: 0 20px;
  }
}
