.debtDetailContainer {
  padding: 20px 30px 0;

  .totalDebt {
    padding: 18px 20px;
    height: 65px;
    background-color: #f7faff;

    .label, .value {
      height: 30px;
      line-height: 30px;
    }
    .label {
      margin-right: 15px;
      font-size: 18px;
      font-weight: bold;
    }
    .value {
      font-size: 20px;
      color: #59ae85;
      font-weight: normal;
    }
  }

  .noRadarData {
    width: 100%;
    height: 60px;
    margin-top: 60px;

    .noDataHead {
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #108ee9;
    }
    .noDataIcon {
      font-size: 30px;
      color: #108ee9;
    }
    .noDataTip {
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      color: #666;
    }
  }
}
