.cellWrap {
  width: 25%;
  display: table;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  border-collapse: separate;

  .label {
    display: table-cell;
    width: 170px;
    color: #999;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
  }

  .content {
    display: table-cell;
    color: #333;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.paragraph {
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
}
