.serviceBox{
  :global{
    .ant-progress-circle-path{
      stroke: cyan;
    }
    .react-echarts{
      margin: auto;
    }
  }
  background: #FFF;
  .chartBox{
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    .chartItem{
      p{
        padding: 10px 0;
      }
    }
  }
}