.serviceBox{
  :global{
    .ant-progress-circle-path{
      stroke: cyan;
    }
    .react-echarts{
      margin: auto;
    }
  }
  background: #FFF;
  .chartBox{
    padding: 10px 0;
    font-size: 12px;
    .chartItem{
      p{
        text-align: center;
        padding: 10px 0;
        margin-top: -20px;
      }
      .noChart{
        width: 100%;
        padding: 10px 0 0 0;
        img{
          width: 100%;
        }
      }
    }
  }
}