.filter {
  padding: 0 25px;
  min-height: 40px;
  line-height: 40px;
  border-top: 1px dashed #ddd;
}
.filter:first-child {
  border-top: 0;
}
.filter :global span {
  float: left;
  width: 90px;
  text-align: left;
  font-size: 14px;
  color: #a1a1a1;
}
.filter :global ul {
  margin-left: 90px;
  overflow: hidden;
}
.filter :global ul li {
  float: left;
  margin: 0 10px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}
.filter :global ul li.current {
  color: #7d9be0;
}
.filter :global ul li:hover {
  color: #7d9be0;
}
