.productBox{
  background: #FFF;
  .product{
    padding:20px 0;
  }
  .productItem{
    position: relative;
    padding:11px 0;
    .name{
      float:left;
      font-size:12px;
      line-height: 24px;
    }
    .num{
      position: absolute;
      right:0;
      top: 0; 
      font-size: 12px;
    }
    .Progressbox{
      padding-left: 60px;
    }
  }
}