.popmask {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  text-align: center;
  background-color: rgba(236, 246, 253, 0.5);
  z-index: 5;
  
  :global {
    .ant-spin {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
    }
  }
}