.TemplateFormWapper {
  padding: 20px;

  .contentWapper {
    height: 250px;

    .content {
      background: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
    }
  }

  .TemplateFormList {
    li {
      .TemplateFormItem {
        position: relative;
        display: flex;

        .templateForm_label {
          width: 52px;
          font-size: 14px;
          margin-right: 10x;
          display: inline-block;

          .required_i {
            color: #f00;
            font-style: normal;
          }
        }
      }

      .tipWapper {
        display: flex;
        margin: -10px 0 20px 52px;
        justify-content: space-between;

        .tipNormal {
          font-size: 14px;
          color: #666;
          line-height: 20px;
          letter-spacing: -0.09px;
        }

        .tipInsert {
          font-size: 14px;
          line-height: 20px;
          height: 16px;
          color: #108ee9;
          width: 120px;
          text-align: right;
          display: inline-block;
          letter-spacing: -0.09px;
          cursor: pointer;
        }
      }
    }
  }

  :global {
    .ant-form {
      .ant-row {
        flex: 1;

        .ant-form-item-control-wrapper {
          .ant-mention-wrapper.multilines {
            display: block;

            & .DraftEditor-root, .DraftEditor-editorContainer {
              height: 100%;

              & .public-DraftEditor-content {
                height: 100%;
              }
            }
          }
        }
        .ant-select {
          width: 228px;
          font-size: 14px;
        }

        .ant-input {
          font-size: 14px;
        }
        .ant-mention-wrapper {
          .ant-mention-editor {
            font-size: 14px;
          }
        }
      }
    }
  }
}
