/*
 * @Author: zhufeiyang
 * @Date: 2018-11-19 11:11:19
 * @Last Modified by: zhufeiyang
 * @Last Modified time: 2018-11-22 16:14:50
 * @description 新版360服务记录-服务内容
 */

.serviceContainer {
  padding-bottom: 9px;
  margin-left: 20px;
  overflow: auto;
}
