/*
 * @Author: zhufeiyang
 * @Date: 2018-11-19 11:11:19
 * @Last Modified by: zhufeiyang
 * @Last Modified time: 2018-11-22 16:14:50
 * @description 新版360服务记录-服务内容-服务记录条目
 */

.serviceItem {
  display: inline-block;
  width: 33%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 70px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  margin-top: 9px;
  color: #333;
  .serviceTitle {
    display: inline-block;
    text-align: right;
    width: 70px;
    color: #999;
    .serviceDivide {
      margin: 0 5px 0 2px;
    }
  }
  .iconsWords {
     span {
        display: inline-block;
        max-width: 100px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
        color: #000;
        i {
          width: 14px;
          height: 14px;
          margin-right: 10px;
          font-size: 14px;
        }
        .txt {
          color: #557bba;
        }
        .excel2 {
          color: #539168;
        }
        .ppt {
          color: #d86151;
        }
        .yinpinwenjian {
          color: #58ad68;
        }
        .shipinwenjian {
          color: #ac8ce0;
        }
        .qitawenjian {
          color: #ccc;
        }
        .CSV {
          color: #539168;
        }
        .tupian- {
          color: #1296db;
        }
        .seeCust {
          font-size: 12px;
          color: #000;
        }
      }
  }
}
