.serviceRecord {
  width: 100%;
}
.searchBox {
  padding: 25px 0;
  text-align: center;
  background-color: #fff;
}
.filterBox {
  margin: 20px 20px 0;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 8px;
}
.listBox {
  margin-top: 20px;
  background-color: #fff;
}
