.recommendModal {
  .learnMoreButton {
    width: 100px;
    height: 28px;
    border: 1px solid #108ee9;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: #108ee9;
    border-radius: 2px;
    position: absolute;
    right: 32px;
    bottom: 32px;
    cursor: pointer;
  }
  :global {
    .ant-modal {
      height: 470px !important;
    }
    .ant-modal .iconfont {
      font-size: 20px;
    }
    .ant-modal-body {
      padding: 0 34px;
    }
  }
}
