.searchWrapper {
  display: flex;
  width: 100%;
  & > .name {
    font-size: 14px;
    color: #666666;
    padding-right: 5px;
    margin-top: 2px;
  }
  :global {
    & .ant-input-affix-wrapper {
      input {
        width: 304px;
      }
      .ant-input-suffix {
        right: 0px;
      }
    }
  }
}