.pageCommonHeader {
  font-size: 14px;
  height: 32px;
  overflow: hidden;
  padding: 2px 0 0 2px;
  .filterBox {
    width: 90%;
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .filterFl {
      float: left;
      height: 32px;
      color: #a1a1a1;
      .taskNameSearch {
        margin-right: 30px;
      }
      :global {
        .ant-input-suffix {
          button {
            background-color: transparent;
            border-color: transparent;
            color: #333;
          }
        }
      }
    }
    .filterMore {
      display: none;
      // float: right;
      // height: 32px;
      position: absolute;
      right: 0;
      top: 3px;
      padding-right: 20px;
      border-right: 1px solid #000;
      span {
        color: #348cf0;
        cursor: pointer;
      }
    }
    .dateWidget {
      margin-right: 70px;
      // 影响段时间组件的高度
      font-size: 16px;
      .dateLable {
        color: #33393c;
        font-size: 14px;
      }
      :global {
        .ant-calendar-picker {
          height: 30px;
          max-width: 240px;
          .ant-calendar-picker-input {
            // border: 0;
            outline: 0;
            font-size: 14px;
            padding-left: 0;
            color: #333;
          }
          .ant-calendar-picker-icon, .ant-calendar-picker-clear {
            margin-top: -5px;
          }
          .ant-calendar-picker-clear {
            display: none;
          }
        }
      }
    }
    :global {
      .filterNoneIcon {
        display: none;
      }
      .filterMoreIcon {
        display: inline-block;
      }
    }
  }
  .dropDownSelectBox {
    display: inline-block;
    min-width: 70px;
    // margin-right: 20px;
    vertical-align: middle;
  }
  :global {
    .commonBtn {
      float: right;
      margin-right: 6px;
    }
    //select边框
    .ant-select {
      width: auto;
      min-width: 70px;
      margin-right: 20px;
      .ant-select-selection {
        background-color: transparent;
        border: 1px solid transparent;
      }
      // 字体颜色大小
      .ant-select-selection__rendered div,
      .ant-select-selection__rendered span {
        color: #33393c;
        font-size: 14px;
        padding-right: 25px;
      }
      &.ant-select-open .ant-select-selection {
        border: 1px solid #348cf0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
      }
    }

    // 兼容ie下拉图标旋转样式
    .ant-select-arrow {
      transform: scale(0.75);
    }

    //多选下拉小图标样式
    .ant-select-arrow:before {
      content: "";
      height: 0;
      position: absolute;
      right: 2px;
      top: 5px;
      width: 0;
      border: none;
      border-top: 10px solid #c2c2c2;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    //清楚单选select小图标旋转
    .ant-select-open .ant-select-arrow:before {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .ant-select {
      margin-right: 5px;
      .ant-select-selection__rendered div,
      .ant-select-selection__rendered span {
        padding-right: 15px;
      }
    }
    .ant-calendar-range-picker-separator {
      position: static;
    }
  }
  .view {
    :global {
      .ant-select-selection__rendered {
        margin-left: 0;
      }
    }
  }
}
.mr30 {
  margin-right: 30px;
}
.mr15 {
  margin-right: 15px;
}
